[2020-04-28 02:02] huynguyennovem opened #1 "How to cancel compression job correctly?"
I have tried to implement as below by getting a Job when starting a video compression, but this does not work. The job cancelation is executed but its task still runs (I was checking log to know  that via `Log.d(TAG, "Compress process: " + v);`
I think I need to get the correct scope of that compression coroutine so that I can cancel it.
[code]

[2020-04-29 12:23] AbedElazizShe commented on #1
Thank you for raising this issue, I will fix in a couple of days :D

[2020-05-01 09:29] huynguyennovem commented on #1
Yeh, I think the problem comes from the running task (compression task). No matter how I cancel the coroutine job, the task is still running (I saw the while loop).

[2020-05-04 08:59] caiyoufei opened #2 "Compressor Error"
this video can not compress
https://github.com/caiyoufei/ABase/blob/master/video/cover_frame.mp4

[2020-05-04 09:01] caiyoufei commented on #2
![image](https://user-images.githubusercontent.com/11989916/80950667-7ae2c100-8e20-11ea-9769-f4f5e8cafc73.png)

[2020-05-04 14:10] AbedElazizShe commented on #1
I added a way to cancel the compression, just call `VideoCompressor.cancel()` and that would get the job done. Let me know if it works fine with you.

[2020-05-04 14:25] AbedElazizShe commented on #2
![Screenshot_20200504-214728](https://user-images.githubusercontent.com/20614470/80975017-25280c00-8e54-11ea-8da1-0b0f1feb69f4.png)

I have fixed this issue. It is intereting that if the generated width/height is not dividable by 2, it will fail. So I am rounding the value to its nearest number dividable by 2.

[2020-05-04 14:25] #2 closed

[2020-05-04 17:43] huynguyennovem commented on #1
Many thanks! This worked perfectly (like)(like)(like)(like)

[2020-05-04 17:49] khanmujeeb687 opened #3 "Downloaded videos unable to compress"
Both the releases are not working on downloaded videos.

[2020-05-04 18:06] huynguyennovem opened #4 "NullPointerException : println needs a message in android"
- Description:
A bug NPE make app crash: "NullPointerException : println needs a message in android"

- How to fix:
`exception.message`  to `exception.message.toString()`

p/s: @AbedElazizShe : I'd love to contribute to this project. Please grant me a permission to make a pull request. Thanks!

[2020-05-04 18:42] huynguyennovem opened #5 "Compressor: Error 0x80000000"
For my a video, some days before I can compress successfully, but today when I tried to compress that video, it's failed with error code ` 0x80000000`
Below is the log:
<details>
  <summary>Error 0x80000000</summary>
2020-05-05 01:36:45.734 3249-3249/com.abc.test D/create_session_benefits_media_video: Compress starting...
2020-05-05 01:36:45.882 3249-3865/com.abc.test D/CCodec: allocate(c2.qti.avc

[2020-05-04 21:53] AbedElazizShe commented on #3
Could you please add more details to help me fix the issue? Do you get any error? Does the app crash? Could you please share a link of one of these videos for me to debug? Thank you

[2020-05-04 21:56] #1 closed

[2020-05-04 21:58] khanmujeeb687 commented on #3
The callback onfailure is triggered everytime I select a downloaded video and try to compress it. App is not crashing. I tried it with videos recorded on my phone then it worked well but with downloaded videos the callback onfailure is being triggered.

[2020-05-04 22:02] AbedElazizShe commented on #5
Does it happen all the time? Is it passing for other videos? Is it possible to share the video's link so I can investigate ?

[2020-05-04 22:09] AbedElazizShe commented on #4
This is fixed, will be available in next release.

[2020-05-04 22:09] #4 closed

[2020-05-05 01:54] huynguyennovem commented on #5
Yes. Please check this video: https://gofile.io/?c=0tqGAQ

[2020-05-05 12:06] AbedElazizShe commented on #5
I tried the video, it's working fine. Please try on v0.2.0. Thanks

[2020-05-05 12:06] #5 closed

[2020-05-09 15:07] DaxeshV opened #6 "Some video not to be compress"
Getting message like this video cannot be compressed. Working only some specific videos.

[2020-05-09 15:13] AbedElazizShe commented on #6
Thank you for openning the issue.
The library compresses videos above ceartain quality to avoid recompessing same video again and again resulting in a bad quality.

If the bitrate is less than 2mbps, it won't be compressed. Please let me know if this value should be adjusted.

[2020-05-09 18:08] DaxeshV commented on #6
Sorry but i selected HD 200 mb video from my gallery and it not compress getting error on many video also.

[2020-05-09 19:41] AbedElazizShe commented on #6
could you please share one of these videos so I can investigate ?

[2020-05-10 02:11] DaxeshV commented on #6
Ya sure. I will send it

[2020-06-02 17:33] rny opened #8 "readme doc error"
the readme shows

[code]

now is

[code]

[2020-06-03 11:35] AbedElazizShe commented on #8
Thanks for reporting this issue

[2020-06-03 11:35] #8 closed

[2020-06-03 11:35] #6 closed

[2020-06-03 11:35] #3 closed

[2020-06-16 19:05] febg11 opened #9 "Licences"
I wanted to ask a couple of questions before I try using your library.

1) Does this use any FFMPEG (L)GPL licensed code or patented algorithms by MPEG LA?

2) As this is licensed under apache 2.0 am I okay to use this in a commercial project?

Thanks a lot :)

[2020-06-17 12:06] AbedElazizShe commented on #9
Thank you for raising this question.

I have added a [LICENSE ](https://github.com/AbedElazizShe/LightCompressor/blob/master/LICENSE) file to describe how this library can be used.

[2020-06-17 12:06] #9 closed

[2020-06-17 17:10] febg11 commented on #9
Oh I can't use this now you have made it gpl. That is a shame :/

[2020-06-18 01:19] AbedElazizShe commented on #9
It is not that I wanted to, rather than, had to. I am using a GPL class in my library. I could't find a way around this. Thank you for opening this issue which gave me the chance to fix the license.

[2020-06-18 06:53] febg11 commented on #9
Oh okay. Could I ask what gpl library caused this so I don't accidentally use it.

[2020-06-18 08:58] AbedElazizShe commented on #9
Sure, it is this [class](https://github.com/AbedElazizShe/LightCompressor/blob/master/lightcompressor/src/main/java/com/abedelazizshe/lightcompressorlibrary/MP4Builder.java)

[2020-06-28 16:58] lucazin opened #10 "Java Version."
How can i put this lib in my project with java code?

[2020-06-29 00:17] huynguyennovem commented on #10
Kotlin can be used with Java in the same project. So you can add this lib normally.

[2020-06-30 14:16] AbedElazizShe commented on #10
Updated [README ](https://github.com/AbedElazizShe/LightCompressor#java) on how to use it in Java

[2020-06-30 14:16] #10 closed

[2020-07-06 06:04] akkalbhor opened #11 "Video is not showing"
I have recorded a video of 10 secs and then I try to compress it. It is showing a black screen with audio only.

[2020-07-06 14:27] lucazin opened #12 "Instance nullpointer"
VideoCompressor.**INSTANCE**.start(
						Source.getPath(),
						Destination.getPath(),

The instance propery always null.
How can i fix this?

Im using inside a service.

Thanks!

[2020-07-08 12:36] AbedElazizShe commented on #12
Thank you for posting this issue.. Could you please share some code. It is working fine on my end!

[2020-07-08 12:37] AbedElazizShe commented on #11
Thank you for posting this issue. Could you please share one of these videos so I can debug it on my side? You can upload it to Google drive and share the link. Please let me know what device you're using and which Android version, so I might be able to reproduce the issue.

[2020-07-10 05:45] akkalbhor commented on #11
HI @AbedElazizShe

I am using one plus 6 on andorid 10.
for recording video using camera, I have used this https://github.com/MasayukiSuda/CameraRecorder-android library.

Input - https://drive.google.com/file/d/1LNtE0NLfSbopgckn48IughZ7HkCTt5__/view?usp=sharing
Output - https://drive.google.com/file/d/15ZYfLQPPdjHPusgPS0Vq317pjOt7sT_Q/view?usp=sharing

[2020-07-10 13:40] AbedElazizShe commented on #11
Please give me access to the videos. You can choose permissions to `anyone with link` or add my email `elaziz.shehadeh@gmail.com`

[2020-07-13 04:27] akkalbhor commented on #11
Yes, I have added your email. have you checked?

[2020-07-13 06:09] SaurabhSportido opened #13 "Video shrink issue"
For Video size which fall in below condition

 width >= 960 || height >= 960 -> {
       newWidth = MIN_HEIGHT
       newHeight = MIN_WIDTH
   }

video getting shrink after compress, i think their should be a small correction in this condition
 newWidth = MIN_WIDTH
 newHeight = MIN_HEIGHT

or like other
newWidth = width * 0.8
newHeight = height * 0.8

so please have a look for these type of videos

[2020-07-13 10:30] AbedElazizShe commented on #11
Hello,

Thank you for sharing the videos with me. I tried you input and i could compress it without any problem. Size after compression is 1.8 MB and took 2 seconds at Medium quality.

Can you try to compress on a different device or an emulator ? So maybe I can narrow down the causes of it on your side.

Thank you

[2020-07-13 10:31] AbedElazizShe commented on #12
Please open the issue if you keep facing it. Will close it for now due to inactivity.

[2020-07-13 10:31] #12 closed

[2020-07-13 13:56] akkalbhor commented on #11
Hi

Thank you for your time,

As of now, I have checked it on

1. One plus 6 version 10.
2. One plus 3T version 9.
3. Moto G3 version 6.0.1
4 Emulator Pixel XL version 8.1
5. Samsung M21 version 10.

in all facing the same issue.

[2020-07-15 07:04] eduxcellence opened #14 "Video get Burst"
Please can u share the method not decreasing resolution on ly bitrate according to video size

[2020-07-16 13:59] akkalbhor commented on #11
hi did you checked?

[2020-07-16 15:11] AbedElazizShe commented on #11
Hello, I have checked on simulators and real devices with the video you shared with me. It is working fine. If you can debug and provide me with some more details, I will fix it. However, I will investigate more during the weekend. Thank you

[2020-07-16 15:12] AbedElazizShe commented on #13
Thank you for raising this concern. I will work on that and will release a new version this weekend. Thank you

[2020-07-16 15:13] AbedElazizShe commented on #14
Thank you for opening this issue. Could you please provide more details? What do you want to achieve? I'd be happy to do some improvements. Thank you

[2020-07-16 16:26] akkalbhor commented on #11
Hi, I have already mailed you the one APK and STR can you please check that too whenever you get time.
Thanks.

[2020-07-17 22:53] BetoRincon commented on #11
Hello, I'm having the same problem

[2020-07-20 16:04] AbedElazizShe commented on #11
Hello,
Thank you for your email, I have replied and looking forward to your response.

As I stated in my email, the video generated from your app (original) is compressed just fine with the library's sample app. The issue is potentially with the way the library is implemented in the app or a crash somewhere that is not handled, I will fix the problem with your help.

Thank you

[2020-07-20 16:40] AbedElazizShe commented on #14
Version 0.5.0 will allow you to choose whether to change reslution or not. Read [Usage](https://github.com/AbedElazizShe/LightCompressor#usage) for more information.

[2020-07-20 16:40] #14 closed

[2020-07-20 16:41] AbedElazizShe commented on #13
Version 0.5.0 has solved this issue. Thank you :D

[2020-07-20 16:41] #13 closed

[2020-07-21 14:00] BetoRincon commented on #11
Yep, you are right. I use the project application and work fine 🤔

[2020-07-22 07:44] akkalbhor commented on #11
Hi,

Here is the link to my project. Please let me know if you require anything.

https://drive.google.com/file/d/1B93u6QHzmiLcA6AYkqGEvovw1flXlf6Y/view?usp=sharing

Thank you.

[2020-07-22 13:00] AbedElazizShe commented on #11
Thank you for your feedback,

The problem was due to a video generated on your phone with a bitrate less than the min allowed in the library, and you specifically pass `isMinBitrateEnabled` to true. Setting that to false would solve your issue.

I have added a better way to show failure messages to give you an idea of what went wrong.

Please update the library to version 0.6.0 and have a look at

[2020-07-22 13:00] #11 closed

[2020-07-23 05:02] akkalbhor commented on #11
Hi,

This is not fixed yet. I tried setting isMinBitrateEnabled to false still the same result and the generated bitrate from my mobile is 6894758 which is more than allowed in the library.

[2020-07-23 05:45] maulikdadhaniya opened #15 "When try to compress video output as black screen with audio"
i try this library , when i try to compress video that output will only black screen video. here is my code
[code]

[2020-07-23 13:19] AbedElazizShe commented on #15
Thank you for raising this issue. Could you please let me know what is the device you're using and which Android version?

[2020-07-23 13:22] AbedElazizShe commented on #11
I tried your project and it's working, I forgot to mention that you need to handle destination file better. For example, i am saving in downloads folder. So modified your destFile with
`  File downloadsPath =
                Environment.getExternalStoragePublicDirectory(Environment.DIRECTORY_DOWNLOADS);
        File desFile = new File(downloadsPath, System.currentTimeMillis() + "_" + "myVideoName.

[2020-07-23 13:24] maulikdadhaniya commented on #15
I using Samsung Galaxy M31 (Android 10) and xiaomi MI Redmi 3s (Android 6) both device getting black video in output.

[2020-07-23 13:31] AbedElazizShe commented on #15
I will look into the issue. Do you see any errors at logcat?

[2020-07-23 13:35] maulikdadhaniya commented on #15
![look this image](https://user-images.githubusercontent.com/28499276/88292503-560f3300-cd17-11ea-97ea-4fa3edfc1bbf.png)
I got this error in Compressor.kt object file

[2020-07-23 13:44] AbedElazizShe commented on #15
Thank you for sharing this. Does it fail with any video? Would you mind sharing one of these videos as I never encounter the problem before and it can be tricky to fix without recreating the issue.

[2020-07-23 13:47] maulikdadhaniya commented on #15
fail with all video. yaa sure i will share video on your mail id. Thank you

[2020-07-23 13:52] AbedElazizShe commented on #15
Thank you. Could you please post from where you're calling VideoCompresor.start()?

[2020-07-23 13:55] maulikdadhaniya commented on #15
![againsubmit](https://user-images.githubusercontent.com/28499276/88294697-33cae480-cd1a-11ea-8b64-2093c18065c0.png)
Here selectedVideoPath is my selected video path.

[2020-07-23 13:57] AbedElazizShe commented on #15
It's not showing much, just ensure your code is not running on a thread that has a looper!

[2020-07-24 04:29] maulikdadhaniya commented on #15
![runonUithread](https://user-images.githubusercontent.com/28499276/88360692-513c9480-cd94-11ea-8b04-089bb99b7b37.png)
My Code in Seperate thread Please look shared image

[2020-07-24 05:10] lobothijau opened #16 "Always get java.lang.IllegalStateException: mediaMetadataRetriever.e…ETADATA_KEY_VIDEO_HEIGHT) must not be null"
I use light compressor to compress video right after completing it's recording.

Before starting light compressor, I export the video with this code:
[code]

I have added MediaStore.Video.MEDIA.HEIGHT value, but why the exception state that it's null? Is it because the different value?

[2020-07-24 05:12] AbedElazizShe commented on #15
Could you please try to use the sample app and let me know if it working there, and please send me one of these videos. It may be related to codecs.

[2020-07-24 05:20] maulikdadhaniya commented on #15
in sample app , working fine , but when i used lib , display black video. Yaa sure i send video in few minutes.

[2020-07-24 05:28] maulikdadhaniya commented on #15
I sent mail with atteched video please check it out

[2020-07-24 05:35] AbedElazizShe commented on #15
Received, thanks. Since it is working with sample app, most probably the compression is fine. I will create a testing app later today and try to identify the possible cases leading to such an issue. Will update you. Thank you for your help

[2020-07-24 05:37] maulikdadhaniya commented on #15
Your welcome , Please let me know . Thank you.

[2020-07-24 05:47] maulikdadhaniya commented on #15
and one more thing i tell you i use Fragment.

[2020-07-24 10:08] singhatalpha opened #17 "Video already compressed"
I downloaded a video from WhatsApp/Instagram, the video is already compressed with very low resolution. If I compress it further and try to play it in macbook, it shows greenish kind of color in the video. Please introduce a feature in your library to check certain stats of a video, if they are low enough, it shouldn't compress the video further.
Thanks in advance.

[2020-07-24 11:40] AbedElazizShe commented on #17
Thank you for your feedback. You can do that already by passing `isMinBitrateEnabled = true`. Refer to the code examples [here](https://github.com/AbedElazizShe/LightCompressor#kotlin). This will ensure only videos with bitrate above 2mbps will be compressed. Let me know if that value works fine with your case scenarios.

Thank you

[2020-07-24 11:40] #17 closed

[2020-07-24 11:43] AbedElazizShe commented on #15
Could you please try to remove runOnUiThread and everything inside onProgress() and try again? I believe that piece of code is what causing the issue

[2020-07-24 11:52] maulikdadhaniya commented on #15
will check in minutes

[2020-07-24 12:09] maulikdadhaniya commented on #15
Hi mp4 generate sucessfully , but now i try to open that file it display Can't play this file

[2020-07-24 12:19] AbedElazizShe commented on #15
Would you mind sharing the code again, showing the entire function when the compression code is added and from where that function is called.

[2020-07-24 12:23] AbedElazizShe commented on #16
Thank you for raising this issue. Could you please try to save your source video with the values added and try the sample app of the library? Let me know if you face the same issue.

Thank you

[2020-07-25 16:10] abkoradiya opened #18 "Update kotlin coroutines version"
I have checked there are most of the bugs fixed in plugin updates. Please update the coroutine library.

[2020-07-26 07:51] ladeng opened #19 "can't find kotlinx.coroutines.CoroutineScope class file"
can't find kotlinx.coroutines.CoroutineScope class file

[2020-07-26 08:33] mkazemian opened #20 "how to resolve Execution failed for task ':app:checkDebugDuplicateClasses'"
When I use the following two libraries simultaneously, I see an error in the build section

`implementation 'com.github.AbedElazizShe:LightCompressor:0.5.0'‍`
 `implementation 'com.github.AndroidDeveloperLB:VideoTrimmer:6'`

But if I comment on any of these libraries, everything works fine How can I fix this problem?

`Execution failed for task ':app:checkDebugDuplicateClasses'.

java.lang.Runtime

[2020-07-26 14:49] abkoradiya opened #21 "Progress not going to 100 %."
Progress not going to 100 %. Last progress I have got 97.59...%.

[2020-07-27 12:21] AbedElazizShe commented on #21
Thank you for opening this issue. Is it crucial for your implementation that it has to be 100% as onSuccess() will be called when the compression is done? You can just stop the progress onSuccess and deal with the generated video.

[2020-07-27 12:22] AbedElazizShe commented on #18
Thank you for pointing this out. Already updated and will release it shortly.

[2020-07-27 12:22] #18 closed

[2020-07-27 12:59] AbedElazizShe commented on #20
Thank you for opening this issue. It is happening because the 2 libraries are using different versions of isoparser. Could you please try to implement that library as follows;
`    implementation ('com.github.AndroidDeveloperLB:VideoTrimmer:6') {
        exclude  group: 'com.googlecode.mp4parser', module: 'isoparser'
    }
`
And let me know if you can use it that way.

Thank you

[2020-07-27 13:03] AbedElazizShe commented on #15
Does the issue still happening? Did you figure out a solution ? And did you try the sample app?

[2020-07-27 13:05] AbedElazizShe commented on #19
Could you please provide more details? You can start by posting code of build.gradle, how do you call compressor method, and your logcat/build messages.

[2020-07-28 05:22] maulikdadhaniya commented on #15
Yes still issue. yes also try in sample app it work perfectly but in my code its not work like sample app

[2020-07-28 05:38] mkazemian commented on #20
Thank you for your good response
I explored the library but got a new error :(
`java.lang.NoClassDefFoundError: Failed resolution of: Lcom/googlecode/mp4parser/FileDataSourceViaHeapImpl;
        at com.lb.video_trimmer_library.utils.TrimVideoUtils.genVideoUsingMp4Parser(TrimVideoUtils.kt:91)
        at com.lb.video_trimmer_library.utils.TrimVideoUtils.startTrim(TrimVideoUtils.kt:69)
        at com

[2020-07-28 14:46] ladeng commented on #19
I solved this problem thanks！
I forgot to do :
implementation "org.jetbrains.kotlinx:kotlinx-coroutines-core:${Version.coroutines}"
implementation "org.jetbrains.kotlinx:kotlinx-coroutines-android:${Version.coroutines}"

[2020-07-28 15:00] #19 closed

[2020-07-28 15:04] ladeng opened #22 "When the video start play, it takes a long time to start playing"
When I compress the video and upload it to the server, and then play it,  it takes a long time to start playing
Can you put the moov of the video before mdat when compressing?

[2020-07-31 13:28] lobothijau commented on #16
I also experiencing similar issue with other video compressor library. I think it is because the DURATION metadata sometimes return NULL which causes crash while the compressor trying to parse it into Long.

I tried to catch the exception from my code to prevent crash but not success.

I have also tried to import the library as a module to modify compressor code to set the process as failed if one

[2020-08-01 21:59] rodrigowpl opened #23 "Video compress not working properly (see issue attached here)"
Stacktrace:
![image](https://user-images.githubusercontent.com/18172307/89111031-7467e380-d427-11ea-8a6d-71e51963db1d.png)

Here's my code and debug attached print:
![image](https://user-images.githubusercontent.com/18172307/89111454-5650b200-d42c-11ea-8c52-a41be13f4133.png)

I'm trying to compress a video soon after recording using the camera

Am I missing something or do you need more detail?

T

[2020-08-02 06:57] AbedElazizShe commented on #15
Thank you. If it works fine in the sample, then you're implementatin is not correct. Try to play around, create a playground app, test the compression there and try to identify why it's not working in your app. If by any chance your project is available on Github, you can share it and I will help you fix the issue. Wll close this by now.

[2020-08-02 06:57] #15 closed

[2020-08-02 06:59] #21 closed

[2020-08-02 07:05] AbedElazizShe commented on #23
Thank you for opening this issue. Did you add the permissions needed that are stated in [Usage](https://github.com/AbedElazizShe/LightCompressor#usage) ?

[2020-08-02 07:11] AbedElazizShe commented on #16
It's a bit difficult to identify the issue. But there are a few things you can try to narrow down the causes. For example, will it work if you don't set a hight and width? Are you sure the values you pass are not Null? How can the duration be null? You can start with hardcoded values, and see if the problem is with the library handling the values, or the problem in the original values passed to th

[2020-08-02 07:15] AbedElazizShe commented on #20
It seems the libraries cannot work together due to the different versions of the dependencies used. I came accross this [stackoverflow's similar issue](https://stackoverflow.com/questions/51336655/using-different-versions-of-same-library-more-than-one-file-was-found-with-os?rq=1) with the same library. Please have a look.

[2020-08-02 07:20] lobothijau commented on #16
**Are you sure the values you pass are not Null?** Yes, because the duration is computed while recording the video. If the video itself present and can be played, how can the duration be null? I'm pretty sure that the duration is not null, because the video is there, it can be played, and there is a duration information on the video file. But this problem is not on every device, currently it's on

[2020-08-02 07:23] lobothijau commented on #16
It's fine if the library couldn't continue to process the compression. I could just tell the user to re-record a new video. But, I would like to prevent it from crashing if the information provided is incomplete.

[2020-08-02 07:53] AbedElazizShe commented on #16
Thank you for your feedback. I can add this option to pass video height, width, and duration if needed. But what would be the purpose of doing that? Since the library would extract that while keeping the ratio of the video so It does not get stretched for instance.

[2020-08-02 08:03] lobothijau commented on #16
I don't think need to add option to pass the values, I mean this only happen on some phone (in my Samsung I never experience this). But, how about sending a failed flag if the required data is null before converting the null value to int or long?

[2020-08-02 08:05] AbedElazizShe commented on #22
Thank you for the suggestion, I am looking into this, will notify you when it's done.

[2020-08-02 08:06] AbedElazizShe commented on #16
Yes sure, I will handle this and will notify you when it's done. Thank you a lot :D

[2020-08-02 09:14] AbedElazizShe commented on #16
Please try version 0.6.2 and close the issue if everything is ok

[2020-08-02 22:06] rodrigowpl commented on #23
Yes, here is my manifest
![image](https://user-images.githubusercontent.com/18172307/89133560-320bd880-d4f3-11ea-9379-281f395f99f6.png)

[2020-08-03 12:26] lobothijau commented on #16
Tested and never crashed on the devices which got it before.

[2020-08-03 12:26] #16 closed

[2020-08-04 12:43] AbedElazizShe commented on #23
Could you please try the latest version of the library 0.6.2 and print out the failure message onFailure()?

[2020-08-04 17:50] rodrigowpl commented on #23
@AbedElazizShe sure, I will be able to do it at the end of the day today

[2020-08-05 18:33] rodrigowpl commented on #23
@AbedElazizShe sorry about the delay to answer, right now I'm moving to a new apartment to it's crazy here :D

Here is the log:
![image](https://user-images.githubusercontent.com/18172307/89450469-fa8a6f80-d730-11ea-9f7e-059ab07ebde6.png)

I have 100% the permission is right, so probably is something with the video path, what would be your guess?

Thanks!

[2020-08-07 11:25] AbedElazizShe commented on #23
@rodrigowpl thank you for your comment, I hope everything is fine now on your side.

We can try 2 things, 1- is to try the sample app of the library and see if it works, 2- if it is possible to share one of these videos with me so I can debug on my side, with different cameras and devices, the possibilities can be huge. I will try to figure it out by today if you could share the video in case (1)

[2020-08-08 01:07] rodrigowpl commented on #23
@AbedElazizShe Unfortunately the project that I'm using it I can't share, but I will try to provide you an open-source playground testing the same scenario with the video this weekend

[2020-08-08 03:58] AbedElazizShe commented on #23
@rodrigowpl thank you, I'd appreciate that

[2020-08-11 12:52] prashantd123 opened #24 "I getting error : Showing Failure message "Source: /storage/emulated/0/Download/VID_20200806_171748.mp4 seems invalid!""
Please help me...

[2020-08-11 14:18] AbedElazizShe commented on #24
Thanks for opening this issue, have you added `WRITE_EXTERNAL_STORAGE` permission ?

[2020-08-11 14:43] AbedElazizShe commented on #24
Could you please post the code where you pick the video and start the compression?

[2020-08-11 14:45] AbedElazizShe commented on #23
Just curious, are you using `ACTION_PICK` or `ACTION_GET_CONTENT` when picking up the video ?

[2020-08-11 15:41] rodrigowpl commented on #23
@AbedElazizShe no, I'm using Camera and getting directly from there

[2020-08-12 06:24] prashantd123 commented on #24
@Override
    protected void onActivityResult(int requestCode, int resultCode, @Nullable Intent data)
    {
        super.onActivityResult(requestCode, resultCode, data);

        if (requestCode==GalleryPick  &&  resultCode==RESULT_OK  &&  data!=null)
        {
            Uri resultUri = data.getData();                       // may be the problem here...

            Videocompress(resultUri );

[2020-08-12 06:25] prashantd123 commented on #24
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

[2020-08-12 06:25] prashantd123 commented on #24
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

[2020-08-12 06:26] prashantd123 commented on #24
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

[2020-08-12 06:33] prashantd123 commented on #24
Yes,

 uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

[2020-08-12 15:34] AbedElazizShe commented on #23
Yes it is definitely because of the path, MediaMetadataRetriever's setDataSource() is throwing an IllegalArgumentException(). A play ground app that you can share will help me handle this scenario. Will try to do one myself and to figure out such a case.

Thank you for the details

[2020-08-12 15:35] AbedElazizShe commented on #20
Will close this issue for inactivity, please reopen it if you still didn't figure it out.

[2020-08-12 15:35] #20 closed

[2020-08-12 15:36] AbedElazizShe commented on #24
Thank you for the details.  Are you using ACTION_PICK or ACTION_GET_CONTENT when picking up the video ? Just ensure it is ACTION_PICK, there might be issues with video metadata if ACTION_GET_CONTENT  was used.

Could you please try the sample app of the library and let me know if it is working? You can also share one of the videos that fail to my email and I will look into it to solve any potentia

[2020-08-12 18:14] rodrigowpl commented on #23
@AbedElazizShe I'm still trying to figure out the issue, and trying to have time to get a playground app done. Sorry about the delay

[2020-08-13 09:23] prashantd123 commented on #24
I using Utils.kt from your sample app of the library and now its working smoothly.
 String path =  UtilsKt.getMediaPath(MainActivity.this , resultUri);

Thank you so much for your library, I searched everywhere and try many libraries and codes from a week but finally your library is working...

[2020-08-13 12:02] AbedElazizShe commented on #24
I am glad it's working and I appriciate your feed :D

Happy coding

[2020-08-13 12:02] #24 closed

[2020-08-13 19:24] pdAfy51 opened #25 "Duplicate class when using library with iso parser already present in application"
Duplicate class com.coremedia.iso.AbstractBoxParser found in modules jetified-LightCompressor-0.6.2-runtime.jar (com.github.AbedElazizShe:LightCompressor:0.6.2) and jetified-isoparser-1.1.20.jar (com.googlecode.mp4parser:isoparser:1.1.20)
Duplicate class com.coremedia.iso.AbstractBoxParser$1 found in modules jetified-LightCompressor-0.6.2-runtime.jar (com.github.AbedElazizShe:LightCompressor:0.6.2

[2020-08-14 13:33] prashantd123 commented on #25
remove other video or image compressing library from gradle.

[2020-08-14 13:35] #25 closed

[2020-08-14 17:36] rodrigowpl commented on #23
@AbedElazizShe Just an update

The path actually is also correct. The issue was because I was using DIRECTORY_DOCUMENTS, and in you example you are using DIRECTORY_DOWNLOADS, I've just changed this and it worked

this point in my code:
![image](https://user-images.githubusercontent.com/18172307/90277077-4fb63780-de3b-11ea-9874-60880c7ccd82.png)

Do you know why?

[2020-08-15 04:16] AbedElazizShe commented on #23
That's weird, it works fine with `DIRECTORY_DOCUMENTS` on my end. Were you using `getExternalStoragePublicDirectory()` before ? Because the generate path in your previous screenshots does not look like it.

[2020-08-15 19:41] rodrigowpl commented on #23
@AbedElazizShe before I was using the same as yours

[2020-08-15 19:44] rodrigowpl commented on #23
let me do some more tests and I will let you know to close the issue

[2020-08-15 21:34] rodrigowpl commented on #23
@AbedElazizShe just figured out the problem!

My issue was really the path, the problem was `getExternalStoragePublicDirectory` was returning the correct path but the one I wasn't giving permission. Using Android Context API solved the problem. See the image attached comparing just for out curiosity:

![image](https://user-images.githubusercontent.com/18172307/90322002-3d182d00-df25-11ea-9661-fde4

[2020-08-16 03:43] AbedElazizShe commented on #23
Thank you for posting this. I am sure it will help others with similar cases.

[2020-08-16 03:43] #23 closed

[2020-08-19 08:31] chendaxia65 opened #27 "Green screen after compression"
Huawei P9 compresses the video and sends it to iPhone 8. When it is played, it will be green. How can I solve this problem? Thank you

[2020-08-27 10:28] varunjain0888 opened #28 "Takes very long time to compress"
Hi ,
I have just run your sample code in my ONE PLUS 6T and it took around 10 min to compress 14 MB of video

[2020-08-28 04:43] AbedElazizShe commented on #28
Thank you for raising this issue. Could you please share the video info, as how long is the video? What is the bitrate and frame rate? You can just send a screenshot of the video info.

Thank you

[2020-08-28 04:44] AbedElazizShe commented on #27
Thank you for opening this issue. I will investigate the issue during the weekend.

Thank you

[2020-08-29 15:27] gnchishti opened #29 "Xamarin Version of LightCompressor?"
When this will be available to be used in Xamarin android?

[2020-08-30 16:26] AbedElazizShe commented on #29
Thank you for your question.

There are no plans currently for Xamarin. I will release a Flutter plugin soon that supports Android and iOS.

[2020-08-30 16:26] #29 closed

[2020-08-30 16:27] AbedElazizShe commented on #27
I tried many compressed videos on iPhone 8 and could not reproduce the issue. Could you please confirm that compressed videos in other phones have the same issue or just with Huawei?

[2020-08-31 18:18] NAVEED300 opened #30 "Video Quality not Good after compression"

[2020-09-01 00:48] AbedElazizShe commented on #30
Thank you for openinig this issue. Please post some details to understand why the quality is not good. However, you can set `isMinBitrateEnabled` to true and the library will stop compressing low quality videos. You will recieve a failure message and you can just use your original video path.

[2020-09-01 00:48] #30 closed

[2020-09-04 09:39] Suyash171 opened #31 "Video Quality is too low even after selecting HIGH,MEDIUM,LOW"

[2020-09-04 10:39] AbedElazizShe commented on #31
Thank you for openning this issue. Please share the video's original size and bitrate if you can, and a snippet of where you call the compressor.

You can set to keep the original size of the video or skipping the compression if the bitrate is below 2mbps.

[2020-09-05 04:34] Suyash171 commented on #31
Video Size 1.22 MB , Resolution :-  480*852

/* private void compressVideoWithAbd(String videoPath){

        File root = android.os.Environment.getExternalStorageDirectory();
        File file = new File(root.getAbsolutePath() + Constants.DIRECTORY_STRUCTURE.APP_DIRECTORY.concat(Constants.DIRECTORY_STRUCTURE.APP_FOLDER_VIDEO).concat("/Compressed/"));
        if (!file.exists()) {
            file

[2020-09-05 05:17] AbedElazizShe commented on #31
Thank you for the provided details. The video size is very very small and I assume its bitrate too. No matter what you do, the quality won't be as you expect. Do you really wan to compress video this size ?

What you can do it to allow the library to determine if the video should be compressed or not, and that can be achieved by changing the isMinBitrateEnabled argument to true

`  }, VideoQuality

[2020-09-05 05:17] #31 closed

[2020-09-05 07:42] Suyash171 commented on #31
Yes. it worked thank you for kindly information and help @AbedElazizShe Great work

[2020-09-06 10:19] HemHemanth opened #32 "Can't work with Android Q"
We can not get file path from Android Q, but this compressor work only if we pass source file path

[2020-09-06 12:54] AbedElazizShe commented on #32
Thank you for openning this issue. Could you please provide more details on the issue? My main device of testing is running Android Q. What kind of errors you're receiving ?

[2020-09-06 12:55] AbedElazizShe commented on #28
Please re-open the issue if you're still having problems.

[2020-09-06 12:55] #28 closed

[2020-09-06 12:55] AbedElazizShe commented on #27
Please re-open the issue if you're still having problems.

[2020-09-06 19:36] HemHemanth commented on #32
Receiving file path is deprecated in android from Android Q onwards we can not get video path from device. But your library asking to send source file path. Is there any alternative with your library to work with contentUri?

Everywhere in my app i am using contentUri to display videos

[2020-09-07 11:47] AbedElazizShe commented on #32
Could you please look at the sample app, I created a function to save the file for a android Q a well, [here](https://github.com/AbedElazizShe/LightCompressor/blob/53c8529f38c6139b14ac275938a94025486a8627/app/src/main/java/com/abedelazizshe/lightcompressor/MainActivity.kt#L184) and here is the [file utils](https://github.com/AbedElazizShe/LightCompressor/blob/53c8529f38c6139b14ac275938a94025486a86

[2020-09-10 06:12] Andoctorey opened #33 "Smart compression option"
Hi, could you please add option to library to configure compression params. Now it's 30% of bitrate but it's not reliable. Maybe [Telegram code](https://github.com/DrKLO/Telegram/blob/321b75636741cd9b64aaf04fe95b593e7c0cba7b/TMessagesProj/src/main/java/org/telegram/messenger/MediaController.java#L4014) is good ref how to do it right.

[2020-09-10 06:26] AbedElazizShe commented on #33
Thank you for your feedback and the reference. I will definitely test that method and release a new version if that is more reliable. I could modify the video quality bitrates as all the values are still experimental..

[2020-09-10 16:13] AbedElazizShe commented on #33
I tested the method, the results are not that different from high or medium quality the library offers depending on the original video size and quality. I just added another quality option `VERY_HIGH`. Developers have more control over the output video this way. I am oprn to change the parameters based on suggestions.

I will close this for now and please feel free to open the issue if you have an

[2020-09-10 16:13] #33 closed

[2020-09-11 10:01] junguochen opened #34 "use gradle import online aar , debug run failed"
Duplicate class org.aspectj.runtime.reflect.AdviceSignatureImpl found in modules LightCompressor-0.7.2-runtime.jar (com.github.AbedElazizShe:LightCompressor:0.7.2) and aspectjrt-1.8.6.jar (org.aspectj:aspectjrt:1.8.6)
Duplicate class org.aspectj.runtime.reflect.CatchClauseSignatureImpl found in modules LightCompressor-0.7.2-runtime.jar (com.github.AbedElazizShe:LightCompressor:0.7.2) and aspectjrt

[2020-09-11 12:24] AbedElazizShe commented on #34
Thank you for opening this issue. This is happening because you use a dependency relying on isoparser. Could you please try adding the library as follows;

` ``implementation ('com.github.AbedElazizShe:LightCompressor:0.7.3') {
        exclude  group: 'com.googlecode.mp4parser', module: 'isoparser'
    }```

[2020-09-12 04:11] #34 closed

[2020-09-12 04:12] junguochen commented on #34
thank you, has resolved

[2020-09-12 04:26] kerlue opened #35 "Trim video"
Hello, Good job with this library. Is it possible to trim a video while it is compressing? For example:

VideoCompressor.start("/stora...", "...dest/", new CompressionListener() {
            ....
        }, VideoQuality.MEDIUM, true, false, 3, 15);//start = 3s, end = 15sec);

If this feature is not available can you point me in the right direction so I can add this feature myself?

Thanks!

[2020-09-13 14:19] AbedElazizShe commented on #35
Thank you for your feedback and the question. Currently, this library only does compression, I might add that feature in the near future if it is requested and if the available video timming libraries miss some important features.

[2020-09-13 14:19] #35 closed

[2020-09-13 14:20] AbedElazizShe commented on #32
Please reopen the issue if the solution provided above did not help. Will close it for now.

[2020-09-13 14:20] #32 closed

[2020-09-18 00:21] ivanph commented on #27
Hi @AbedElazizShe , great work with this library.

I'm experiencing this issue as well after converting a video on a Pixel 3 and trying to play it on MacOS using Quicktime, it is also reproducible in iOS and VLC.
I can provide details of the videos or anything else needed for debugging.
 Let me know if you prefer I open a new issue.
Thanks!!

[2020-09-18 01:21] AbedElazizShe commented on #27
Thank you ivanph for opening the issue and for the details.

Could you please send me a screenshot of the compressed video file details showing bitrate, frame rate, and height and width. I find windows machine to give more details of a video .. so you can take a screen shot in a windows machine if you do have one.
Please let em know the parameters you passed for compression method.. and by any cha

[2020-09-18 01:33] ivanph commented on #27
This is the output from ffmpeg
[code]
You can get the original video here https://drive.google.com/file/d/1Izo9zWaSFA6h2XenxGOyUsGm00VmNMM7/view?usp=sharing
And the compressed file generated by the Pixel 3 https://drive.google.com/file/d/1-O3owYpaZJX-GBgB8SXfc9IXCHqObt2b/view?usp=sharing

Another detail is that playing the file on VLC only reproduces the audio _unless_ I disable hardware decoding

[2020-09-18 02:00] AbedElazizShe commented on #27
Thank you for the details.

From the numbers I think you're not using version 0.7.4? Could you please confirm that?

I used the video and compressed it on pixel 2 xl. And could play it in ios and mac. Just let me know if you're having this issue in version 0.7.4.

Thank you

[2020-09-18 02:05] ivanph commented on #27
Yes, I'm on 0.7.3. I'll give it a try with the new version and get back to you.

[2020-09-18 02:27] ivanph commented on #27
Would you mind sharing the compressed video generated by your pixel 2 so I can try it on my end.

[2020-09-18 02:43] AbedElazizShe commented on #27
https://drive.google.com/file/d/1c0SbdbbE1I48su6g7toAPWjwvoo-h3wp/view?usp=sharing

[2020-09-18 05:21] ivanph commented on #27
I tried 0.7.4 but that didn't fix the issue.
Here's what I've found so far.
I ran `ffprobe -v error -show_format -show_streams file.mp4  > output.txt`
on my video and yours and the only difference that I found was this

From your video
[code]

Mine

[code]

I then applied this
`ffmpeg -i 0.7.4.mp4 -color_primaries bt470bg -color_trc smpte170m -colorspace smpte170m pixel_corrected.mp4`
to my compre

[2020-09-18 05:39] AbedElazizShe commented on #27
Thank you ivanph, the details are great and now I know where the problem is, I will try to fix it later today and will inform you.

[2020-09-18 05:55] ivanph commented on #27
Awesome, thank you so much for all the help.
I'm working on a react-native wrapper for this btw 😄 in case that's something you are interested in.

[2020-09-18 06:11] AbedElazizShe commented on #27
That's really awesome. Please inform me when you add the project to github, would love to help. I was focusing on Flutter and created a plugin for it.

[2020-09-19 04:19] AbedElazizShe commented on #27
Thank you very much for the great help. I am trying to figure out what values might cause this issue. I'd really appriciate if you can try this [apk](https://drive.google.com/file/d/10eiAWVNnj5EggM-Shf9puW7toozDDQjZ/view?usp=sharing). I don't have any devices with such an issue and emulators are not reliable in this kind of scenarios.

In the previous apk, I tried [COLOR_RANGE_FULL](https://develo

[2020-09-19 23:01] ivanph commented on #27
Hey sorry I didn't get back to you sooner, I didn't have my laptop last night.
The issue is still there, I also tried a couple more values for the `MediaFormat.KEY_COLOR_FORMAT` key.
I have also been testing this project https://github.com/linkedin/LiTr and the videos play fine after compression.
I really appreciate all the work you've been putting into this issue, I've dealt with my share of devi

[2020-09-20 03:07] AbedElazizShe commented on #27
Thank you very much Ivan, I appriciate you continues help. Yes I agree, device-specific issues are always tricky. Can I ask you for one more favor? I have added a Log to print media format data, with a tag `MEDIA FORMAT DATA`, Could you please try [this apk](https://drive.google.com/file/d/1sRn5qGKyHYWOUkQxfQOIjgow_937NZaO/view?usp=sharing) and send me the printed message? In my case, it looks lik

[2020-09-20 04:53] ivanph commented on #27
Here you go
[code]

[2020-09-22 16:30] AbedElazizShe commented on #27
Thank you. I tried so many way to fix the issue, including adding colors, changing profile and level, changing fps, changing video size, select colors dynamically, however, I am unable to fix the issue and Apple is not the greatest in providing documentation to their video playback requirements, every atricle provides different details.

Will keep researching and trying other ways. If by any chanc

[2020-09-22 17:26] PraveenPushpkar opened #36 "Compressing videos from whatsapp causes null height"
when trying to compress video that was downloaded from whatsapp (which is already compressed), it causes following error :

java.lang.IllegalStateException: mediaMetadataRetriever.extractMetadata(MediaMetadataRetriever.METADATA_KEY_VIDEO_HEIGHT) must not be null
        at com.abedelazizshe.lightcompressorlibrary.Compressor.compressVideo(Compressor.kt:41)
        at com.abedelazizshe.lightcompress

[2020-09-22 18:28] ivanph commented on #27
Thanks again @AbedElazizShe
I also tried a few more settings to no avail. The only thing I know for sure, is that this only happens when decoding the video using hardware acceleration with [VideoToolbox](https://developer.apple.com/documentation/videotoolbox). That narrows the scope a little bit. I found another project that encodes videos just fine https://github.com/natario1/Transcoder. I'll try

[2020-09-22 18:32] #36 closed

[2020-10-01 12:02] digiholicinfotech opened #38 "Can we compress more Than Quality.Low"
Hello i want compress my Video more than Low
at its compressing my video from 70 mb to 7mb with Quality.Low
but i want it to compress 70 to 4mb

[2020-10-01 14:54] AbedElazizShe commented on #38
Thank you for opening this issue.

I can create another video quality `VERY_LOW` for example to give you the size you want, however, are you satisfied with the quality of the video at LOW quality?

[2020-10-01 14:57] AbedElazizShe commented on #27
I am thinking of re-writing the entire MP4Builder class and use the latest version of iosparser which may take a month or so, that might solve the problem with new encoders.

[2020-10-01 15:35] digiholicinfotech commented on #38
Thank you
yes the quality is much good at LOW.
and also thanks for this lib its too essay and useful

[2020-10-05 14:50] AbedElazizShe commented on #38
I have added the `very_low` quality. Please try version `0.7.5` and let me know if it matches your requirements.

Thank you

[2020-10-05 14:50] #38 closed

[2020-10-07 16:14] manconhouse opened #39 "Sound"
the output video has no sound !

[2020-10-07 20:45] SaurabhSgs commented on #13
width >= 960 || height >= 960 -> {
                newWidth = (((MIN_HEIGHT * 0.95) / 16).roundToInt() * 16)
                newHeight = (((MIN_WIDTH * 0.95) / 16).roundToInt() * 16)
            }

this logic is not working perfectly for some video, through this condition video is converted from vertical to horizontal mode when compressed.

i think this should be like below condition:

[2020-10-08 06:12] AbedElazizShe commented on #39
Thank you for opening this issue. Could you please let me know of the device you're using and please confirm if you tried the sample app and still get the same issue.

It is great if you can share the original video so I can debug.

Thank you

[2020-10-08 06:19] AbedElazizShe commented on #13
Thank you for spotting this, I will release a new version in a few hours and will notify you

[2020-10-09 17:32] mishra0007 opened #40 "cannot access CoroutineScope"
I am getting an error on importing this library

error: cannot access CoroutineScope
                VideoCompressor.start(String.valueOf(contentURI), "//sdcard//Download//", new CompressionListener() {

  the class file for kotlinx.coroutines.CoroutineScope not found

Need some help

[2020-10-09 17:36] AbedElazizShe commented on #40
Thank you for opening this issue.  Please follow this section https://github.com/AbedElazizShe/LightCompressor#usage. Let me know if you did and still not working.

[2020-10-09 17:39] mishra0007 commented on #40
implementation "org.jetbrains.kotlinx:kotlinx-coroutines-core:${Version.coroutines}"
implementation "org.jetbrains.kotlinx:kotlinx-coroutines-android:${Version.coroutines}"
On importing these two, I am getting an error which say Could not get unknown property 'Version' for the object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler.

[2020-10-09 17:41] AbedElazizShe commented on #40
Replace that part with the most recent version.

`implementation 'org.jetbrains.kotlinx:kotlinx-coroutines-core:1.3.9`
`implementation 'org.jetbrains.kotlinx:kotlinx-coroutines-android:1.3.9`

[2020-10-09 17:53] #40 closed

[2020-10-09 18:50] AbedElazizShe commented on #13
@SaurabhSgs The issue is fixed in version `0.7.6`.

[2020-10-09 19:00] mishra0007 commented on #40
it worked fine

[2020-10-09 19:12] mishra0007 commented on #32
I am getting the same issue right now.

I have provided 4 permission

**uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE
    uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE
    uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION
    uses-permission android:name="android.permission.CAMERA**

and even given permission to my testing dev

[2020-10-09 19:16] mishra0007 opened #41 "Getting Error regarding permissions"
I have provided 4 permission

uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE
uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE
uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION
uses-permission android:name="android.permission.CAMERA

and even given permission to my testing device.

D/path: /storage/emulated/0/download/Class 12 Math

[2020-10-09 19:38] mishra0007 commented on #41
This is my code

`VideoCompressor.start(String.valueOf(contentURI), "/storage/emulated/0/download", new CompressionListener() {
                    @Override
                    public void onStart() {
                        videoView.start();
                        progressBar.setMax(100);
                    }

                    @Override
                    public void onSuccess() {

[2020-10-10 03:48] AbedElazizShe commented on #41
Please have a look at the [sample app](https://github.com/AbedElazizShe/LightCompressor/blob/master/app/src/main/java/com/abedelazizshe/lightcompressor/MainActivity.kt). And use the latest version of the library.

[2020-10-10 03:48] #41 closed

[2020-10-12 12:03] SaurabhSgs commented on #13
@AbedElazizShe Thanks for your quick response with solution.

[2020-10-19 02:23] power95031 opened #42 "Compress procession Time"
First, very very thanks for this library share ,  very useful and good working.

by the way, some question in my Project

how can i more fast compress processing?

( Samsung galaxy S6 )
get video from Album OriginFile Size : 33823052 Byte
Compress with Quality.VERY_LOW
process time : 21sec
Result file Size close 1/10 byte (very good and i wanted size)

how can faster process time? just use better

[2020-10-21 18:29] Kunalapk commented on #22
@AbedElazizShe the compressed video is not buffering when played from the server in the android app.
It downloads 100% and then plays.

[2020-11-02 20:02] wsoftwares opened #43 "Not getting sound on compressed videos"
Not getting sound on compression
Video Compression is very good and also compressed video quality is very nice but not getting sound on some video after compression .I have tried this on device with android 10
I think when i am recording video with camera and adding a sound (.AAC format) in it and then compressing it
its not getting any sound.

[2020-11-05 12:02] AbedElazizShe commented on #43
Thank you for opening this issue. Could you please confirm if the issue happens on multiple devices or just a specific one, please share the device model and I will look into this.

Thank you

[2020-11-05 12:03] #39 closed

[2020-11-05 12:05] wsoftwares commented on #43
Yes i have checked it on multiple devices having android 10 and 9 .

[2020-11-05 12:10] AbedElazizShe commented on #43
Thank you for the quick reply. Sorry I have been really busy here, will work on this during the weekend. Could you please share one of the videos so I can debug? Just upload it to google drive and share the link here or to my gmail. Please ensure I have access to the video. Thank you very much :D

[2020-11-10 11:20] mortezakh1371 commented on #43
I use 'com.github.AbedElazizShe:LightCompressor:0.7.6' for Compress Video and Everythings okey . but when I use 'com.github.AbedElazizShe:LightCompressor:0.7.6' and Trimmer ('com.github.tizisdeepan:videoeditor:1.0.8' or 'life.knowledge4:k4l-video-trimmer:1.1.3-SNAPSHOT') together the final video has no audio.

[2020-11-10 12:18] wsoftwares commented on #43
Sorry for the late reply
https://drive.google.com/file/d/1AlUeMsI-WRhHW-MIbgRlHQ5SgvNrjSVt/view?usp=sharing
Here is the drive link for the video(which I tried to compress) and also the compressed video (which has no sound)
and also please check that I cannot stream this compressed video only the option is to download and then play that video.
Please have a look at it

Thank you

[2020-11-15 13:52] AbedElazizShe commented on #43
Thank you, please give me access to the video.

[2020-11-15 13:54] AbedElazizShe commented on #42
Thank you for opening the issue and sorry for the late reply. The pnone itself and the length of the video could be the reason for slightly slow compression time. Please try on different devices and let me know if you have an issue. Feel free to re-open the issue if you have any questions.

[2020-11-15 13:54] #42 closed

[2020-11-15 14:12] AbedElazizShe commented on #27
Fixed in version 0.7.7.

[2020-11-15 14:12] #27 closed

[2020-11-15 14:16] AbedElazizShe commented on #22
@Kunalapk Thank you for reporting this, I haven't tried that myself. I will look into this and solve the issue.

[2020-11-15 14:27] wsoftwares commented on #43
Done

[2020-11-15 14:29] AbedElazizShe commented on #43
Thank you. The video has sound after compression on my testing devices. Could you let me know which devices are you using?

[2020-11-15 14:32] wsoftwares commented on #43
MI A2 with android 10
And I have also tried on different devices.

[2020-11-15 14:42] AbedElazizShe commented on #43
Please try the latest version 0.7.7, and let me know if you still have the issue.

[2020-11-18 20:38] wsoftwares commented on #43
Yes I have tried with new version (0.7.7) but now also there is same problem.

[2020-11-20 10:41] gavin-hero commented on #43
I am having the same issue with a video recorded from a Pixel 5. When compressed the video no longer has any audio and is also now unplayable in QuickTime on a Mac

[2020-11-25 15:15] AbedElazizShe commented on #43
Thank you for the details. I have tested on Pixel 2 XL, pixel 4a, and Pixel 4. They all have sound. [Here ](https://drive.google.com/file/d/1-3c_cfS0ceZfHMBi1Avmy3r669TW67O9/view?usp=sharing) is one of the outputs based on the videos @wsoftwares shared with me. Please let me know if you can't play it.

Please try to use the sample app and share the result. I can't find the issue as all my physical

[2020-11-30 10:29] wsoftwares commented on #43
can we have a Anydesk or a skype call so that we can figure it out ....

[2020-12-01 17:32] chhatrasal09 commented on #43
Hi this is the my [compressed video](https://www.dropbox.com/s/xe6yynf9pf4fb6t/2020-12-01_22-19-45.954934.mp4?dl=0). And this my [original video](https://www.dropbox.com/s/ow2a7b6hnyife68/2020-12-01_21-23-41.076254.mp4?dl=0).
I was not able play this file in QuickTime on Mac. I compared the info of both file and found out that the compressed file Dows not have aac audio.

[2020-12-04 17:43] oleh-mryhlod commented on #27
Hi @AbedElazizShe, Thanks for the lib.

Seems like I have exactly the same issue on Pixel 4 (Android 11), using 0.7.7.
There are the same `unknow` on some `color_` props on compressed video:
[code]
And using the same FFmpeg command resolves the issue with the video as on the [comment](https://github.com/AbedElazizShe/LightCompressor/issues/27#issuecomment-694657814).
Do you have any suggestions?

[2020-12-05 08:01] anubhavpandey-kiwi opened #44 "Proguard rules"
Video compression is working perfectly but I'm not able create release build because of proguard.
@AbedElazizShe  Can you please provide proguard rules for the compressor.

[2020-12-05 13:12] AbedElazizShe commented on #43
Thank you for the details. Could you please try to play the videos using vlc on Mac? That would help narrow down the possible cause of the issue.

[2020-12-05 13:21] AbedElazizShe commented on #44
Thank you for opening this issue. Which rule do you think is causing the issue, could you please share the error you're getting so I can prepare the rules needed, I don't know from where to start to be honest.

[2020-12-05 13:41] AbedElazizShe commented on #43
I have tested the videos, you're right, only quicktime fails to play them, other players on my mac play the videos. Dealing with codecs is a very tricky task. The issue can be anything as the compressed videos from pixel 2 works with QuickTime while from pixel 5 won't. I don't think I will figure out the reason anytime soon.

[2020-12-05 13:42] #43 closed

[2020-12-05 13:48] AbedElazizShe commented on #27
Thank you @oleh-mryhlod for the details. It seems only quicktime fails to play the compressed video from certain devices, especially pixels 3 -5. I marked the issue as resolved because I was using VLC on my Mac and iphones and everything was working just as expected. I have spent a very long time trying to solve the issue and it seems it is just not working with quicktime. I am considering re-writ

[2020-12-05 20:06] dgeetesh commented on #43
I am also facing this issue Can you please suggest any alternative, which possesses the same functionality.

[2020-12-23 12:26] mkazemian opened #45 "Does not work for 4K quality videos"
This is the best video compression library I have found, but when I used it, I realized that it could not compress 4K quality videos and it went wrong.

[2020-12-23 13:52] AbedElazizShe commented on #45
Thank you for opening the issue. I will have a look and get back to you in a couple of days.

[2020-12-27 11:56] engosamamohsen opened #46 "E/Compressor: Attempt to invoke interface method 'java.lang.Object java.util.Map.get(java.lang.Object)' on a null object reference"
VideoCompressor.start(volleyFileObject.getFile().getAbsolutePath(),volleyFileObjectCompress.getFilePath(), new CompressionListener() {
                    @Override
                    public void onStart() {
                        Log.d(TAG,"onStart compress:");
                    }

                    @Override
                    public void onSuccess() {
                        // On Compre

[2020-12-28 15:38] mkazemian opened #47 "The compression operation is very slow"
I'm trying to compress 47 MB video but the compression is very slow

Xiaomi Redmi Note 8 with 6 GB of RAM

Video format = mp4
Video size = 47 MB
Video duration = 03:27
resolution = 480*480

Did I write wrong?
`

        txt_check.visibility = View.GONE
        lin_uploadProgress.visibility = View.VISIBLE

       VideoCompressor.start(path, desFile.path, object : CompressionListener {

[2021-01-04 13:54] JakubBrecher opened #48 "Crash - Compress video from videocamera"
If I compress video recorded directly from the camera, a library error will occur. Only on certain devices.
Crash happens at the end of the compression

I use this intent - `Intent(MediaStore.ACTION_VIDEO_CAPTURE)`

Xiaomi Max
Android 7.1.1

Stacktrace:
`Process: cz.skodaauto.connect.addon.carfeedback.sample, PID: 21280
    java.lang.AssertionError: The given long is not in the range of uint32 (-3

[2021-01-05 13:07] GobuTranxit opened #49 "Audio Process Issue"
In the Compressor processAudio function not working properly. Compressed video file not playing always I am facing audio renderer issue.

[2021-01-11 12:40] AbedElazizShe commented on #49
Thank you for openinig the issue. Could you please let me know what is the Android version and the device(s) you use for testing?  An original sample video would be a great help too. Thank you.

[2021-01-11 12:42] AbedElazizShe commented on #48
Thank you for openinig the issue. Could you please let me know what is the Android version and the device(s) you use for testing? An original sample video would be a great help too. Thank you.

[2021-01-11 12:45] AbedElazizShe commented on #47
Thank you for openinig the issue. I noticed a behaviour like that when the video was already compressed such as a whatsapp video. What is the video's bitrate? If you change `isMinBitRateEnabled ` to `true`, can it be compressed?

[2021-01-11 12:46] AbedElazizShe commented on #46
Thank you for openinig the issue. Could you please let me know what is the Android version and the device(s) you use for testing? An original sample video would be a great help too. Please post the full error log as it will give me more details on the potential causes. Thank you

[2021-01-11 12:57] AbedElazizShe commented on #45
Thank you for openinig the issue. I tried a many 4k videos and there is no issues, so the problem has to be something else. Could you please let me know what is the Android version and the device(s) you use for testing? An original sample video would be a great help too. Thank you.

[2021-01-11 13:00] AbedElazizShe commented on #44
Will close this issue due to inactivity, please reopen if you stil need help. Thank you

[2021-01-11 13:00] #44 closed

[2021-01-11 14:11] GobuTranxit commented on #49
I've Tried with Nokia  6.1plus (10) , One Plus 8T(11) and Moto e4Plus(7).  I already shared sample video via E-mail. I think syncing sample timing missing.

[2021-01-11 14:22] GobuTranxit commented on #49
Hi Abed,

One more info : I am using ISO Parser = 'com.googlecode.mp4parser:isoparser:1.1.22'

[2021-01-14 08:32] winstips opened #50 "Exception The given long is not in the range of uint32"
I tried running given demo code, got the exception below

java.lang.AssertionError: The given long is not in the range of uint32 (-3074)
	at com.coremedia.iso.IsoTypeWriter.writeUInt32(IsoTypeWriter.java:28)
	at com.coremedia.iso.boxes.TimeToSampleBox.getContent(TimeToSampleBox.java:75)
	at com.googlecode.mp4parser.AbstractBox.getBox(AbstractBox.java:142)
	at com.googlecode.mp4parser.BasicContaine

[2021-01-18 08:46] JakubBrecher commented on #48
The error only occurs if I shoot the video directly from the application. When I shoot it outside the application and only then compress it, everything works fine.

[2021-01-23 18:01] dineshchavhan opened #51 "Video Quality is not good"
quality issue it blur the video after compression

[2021-01-24 09:37] AbedElazizShe commented on #45
I have tested more and more 4K videos including [this](https://4kmedia.org/spacex-launches-uhd-4k-demo/) and I haven't faced any issues. If you're still facing issues, feel free to re-open the issue. Please specify phone brand and android version if so. Thank you.

[2021-01-24 09:38] #45 closed

[2021-01-24 09:40] AbedElazizShe commented on #46
Will close this issue assuming you're not having the problem anymore, please feel free to re-open it.

[2021-01-24 09:40] #46 closed

[2021-01-24 09:40] #47 closed

[2021-01-24 12:04] AbedElazizShe commented on #50
Thank you for opening the issue. Could you please specify which phone you're using for testing ? This issue is device specific and I am trying to reproduce the issue to ensure it is fixed.  It was reported [here](https://github.com/AbedElazizShe/LightCompressor/issues/48) on Xiaomi Max.

[2021-01-24 12:49] AbedElazizShe commented on #51
Thank you @dineshchavhan for openeing the issue. Could you try to play around with `isMinBitRateEnabled` and `keepOriginalResolution` ? If the video already has a small bitrate or resolution and it is compressed again, it can become blury. If you're sure the video has acceptable bitrate and resolution and it gets blurred, please share a video sample so I can debug and fix any potential issues,

Th

[2021-01-24 12:59] dineshchavhan commented on #51
thank you for your reply
i am sending both video original and compress please look in it.

this is compressed file is
  24012021060527pm.mp4
<https://drive.google.com/file/d/1tUGr76yFD3TUFoL6iaqoUfpG0cmcJF7y/view?usp=drivesdk>

original file
  testram.mp4
<https://drive.google.com/file/d/1tXmzG10F0jI2Lh2FWdX_ceAjaLfFkiAs/view?usp=drivesdk>

On Sun, 24 Jan 2021, 18:19 Abed Elaziz Shehadeh, <notific

[2021-01-24 13:05] AbedElazizShe commented on #49
@GobuTranxit Thank you for the details, I tested the reference video and I don't have an issue.
I believe you're right, I tried to update my isoparser version to `1.1.22` a few months ago and I had issues with the core classes of the library. If possible, try to match with the version used in the library that is `1.0.6`.

Thank you

[2021-01-24 13:14] AbedElazizShe commented on #51
Thank you @dineshchavhan , please give an access to my email. elaziz.shehadeh@gmail.com

[2021-01-24 13:26] AbedElazizShe commented on #50
@winstips Could you please try the latest version? I added an apk to README if you want to try the sample first. Please close the issue if the problem is fixed. Thank you

[2021-01-24 13:27] AbedElazizShe commented on #48
@JakubBrecher  Could you please try the latest version? I added an apk to README if you want to try the sample first. Please close the issue if the problem is fixed. Thank you

[2021-01-24 13:45] AbedElazizShe commented on #51
@dineshchavhan your original video has a very low bitrate of 1975kbps and when compressed it becomes 95kbps.  It seems the video has gone through transcoding somewhere else such as whatsapp. I'd recommend to set `isMinBitRateEnabled` to true and watch for `onFailure`. If you receive this video is too small to be compressed error message, don't compress it so you won't get that bad resolution.

[2021-01-24 14:23] dineshchavhan commented on #51
but same video compress with panda video compressor app it become very nice
n less file size.
 see it

  testram panda.mp4
<https://drive.google.com/file/d/1t_tfHo7BdyAx8YKX1NUG0L-rTJF6htQy/view?usp=drivesdk>

[2021-01-24 14:26] AbedElazizShe commented on #51
please post the video compresser implementation you're using? Make sure you use VERY_HIGH.

[2021-01-24 14:41] dineshchavhan commented on #51
i already set very high still its giving me this blur effect

On Sun, 24 Jan 2021, 19:56 Abed Elaziz Shehadeh, <notifications@github.com>
wrote:

[2021-01-24 14:56] dineshchavhan commented on #51
with very low see the effect and size

  24012021081110pm.mp4
<https://drive.google.com/file/d/1taEWOs5eIV9h7HSTz8LYgxxrakqo3az-/view?usp=drivesdk>

On Sun, 24 Jan 2021, 20:20 Dinesh Chavhan, <chavhan.dinesh@gmail.com> wrote:

[2021-01-24 15:19] AbedElazizShe commented on #51
Just compressed your video using VERY_HIGH quality and it looks like [this](https://drive.google.com/file/d/1DdJkI1OCELN97XR-e10ZqPeqkvZ7i6hm/view?ocid=SK216DHP&osmkt=en-my). Please post your code.

[2021-01-24 15:21] dineshchavhan commented on #51
at very_high it give blury effect why, any solution

On Sun, 24 Jan 2021, 20:49 Abed Elaziz Shehadeh, <notifications@github.com>
wrote:

[2021-01-24 15:27] AbedElazizShe commented on #51
If you don't post some code and specify your testing device(s), It is difficult to help you.

[2021-01-25 08:56] GobuTranxit commented on #49
Hi AbedElazizShe/LightCompressor,

*Thanks for spending your valuable time*

I've managed with the latest version. I didn't process your audio method.
After frame compress I managed with appending track process without looping
it's working fine.

*Thanks & Regards*
*Gobu CSG*
*Android Developer*

On Sun, Jan 24, 2021 at 6:35 PM Abed Elaziz Shehadeh <
notifications@github.com> wrote:

[2021-01-25 13:09] NAVEED300 opened #52 "video quality very bad even Very High"

[2021-01-25 13:24] AbedElazizShe commented on #52
Thank you for opening the issue. Please list down the device you're using, the android version, and a screenshot of the video details that clearly show the bitrate and resolution values.

Thank you

[2021-01-29 08:43] AbedElazizShe commented on #51
Will close this issue due to inactivity, feel free to re-open.

[2021-01-29 08:43] #51 closed

[2021-01-29 08:46] AbedElazizShe commented on #49
Thank you for your reply @GobuTranxit, I am glad you managed to fix it. You can always make a pull request if you think something could've been done better. Thank you :D

[2021-01-29 08:46] #49 closed

[2021-01-31 16:42] vedst opened #53 "Does not work for 4K quality videos or return 0 byte video"
This is the best video compression library I have found, but when I used it, I realized that it could not compress 4K quality videos and it went wrong. It works for some video and returned 0-byte video for some.

Many videos from the below website are not working.

https://www.pexels.com/video/5645774/

FYI: I tested on the demo APK you attached on Github.

Device: Google Pixel 4a OS 11, Samsung s

[2021-01-31 17:14] chrissyast opened #54 "Playback of compressed video gets stuck on 0:01"
My code: https://github.com/chrissyast/StorageCleaner

Device: Pixel 4 API 27

Original video 720 x 1280, 2.6MB, 0:29
Output video 544 x 960 549kB, 0:29

Steps to reproduce:

1. Compress video
2. Open compressed video, press on screen during playback

Expected behaviour:
Playback continues

Actual behaviour:
Playback freezes, progress bar doesn't move

[2021-02-01 06:10] Andoctorey opened #55 "Compression stopped working for many devices starting from version 0.7.6"
I see a lot of logs in Crashlytics mostly on Samsung devices:
1. Compression starts for big video file
2. Library return on Success in 100ms with empty file

I reproduce in office on Galaxy S8 SM-G950FD, Android 9 with this video: https://drive.google.com/file/d/17BBYMml1Lvn1OJAMrAYI6br_Ef0H22fc/view?usp=sharing
and params: VideoQuality.HIGH, isMinBitRateEnabled = true, keepOriginalResolution = tr

[2021-02-07 08:07] #48 closed

[2021-02-07 08:07] #50 closed

[2021-02-07 08:08] #52 closed

[2021-02-07 08:32] AbedElazizShe commented on #55
@Andoctorey thank you for opening the issue and I appriciate the details and the sample video. I will investigate the issue on Galaxy S8 as I could compress the video on Pixel 2. Original size 377.1 MB compressed to 115.2 MB on high quality in 1:21 time. Could you please try the sample apk in README on the same device and let me know if you have the same issue.

If you can post what kind of crashe

[2021-02-07 08:33] AbedElazizShe commented on #54
@chrissyast thank you for opening the issue and the provided details.
It seems from the details you provided that the compression worked fine, so what playback ? Where are you trying to play the video?

[2021-02-07 14:38] AbedElazizShe commented on #55
Thank you @Andoctorey for your input, the issue is fixed in the last release 0.7.9. Please let me know if you have any issues.

[2021-02-07 14:41] chrissyast commented on #54
@AbedElazizShe thanks for your reply. I am playing the video from within the virtual device. I downloaded the video to my PC and it plays ok. Then I transferred to my physical device (OnePlus 6 API 29). Here the video continued to play when following the above steps, but on trying to move the progress bar, the video froze, and then had to pause and unpause the video, upon which the video would ret

[2021-02-08 05:48] Andoctorey commented on #55
It works in 0.7.9! Thank you!

[2021-02-08 05:48] #55 closed

[2021-02-16 16:42] melkopisi commented on #44
i have also this issue when i try to create a release build here's my log

`java.lang.NoClassDefFoundError: Failed resolution of: Lorg/aspectj/runtime/reflect/Factory;
        at com.coremedia.iso.boxes.FileTypeBox.ajc$preClinit(SourceFile:1)
        at com.coremedia.iso.boxes.FileTypeBox.<clinit>(SourceFile:1)
        at com.abedelazizshe.lightcompressorlibrary.MP4Builder.createFileTypeBox(Source

[2021-02-16 16:44] melkopisi opened #56 "Proguard rules"
please can you add the library proguard rules cause i can't use it in release it crashes, Here's my logs:

`java.lang.NoClassDefFoundError: Failed resolution of: Lorg/aspectj/runtime/reflect/Factory;
        at com.coremedia.iso.boxes.FileTypeBox.ajc$preClinit(SourceFile:1)
        at com.coremedia.iso.boxes.FileTypeBox.<clinit>(SourceFile:1)
        at com.abedelazizshe.lightcompressorlibrary.MP4

[2021-02-16 17:26] AbedElazizShe commented on #56
Thank you for opening this issue. I will fix this as soon as possible. Will inform you. Thank you

[2021-02-17 12:44] vedst commented on #53
@AbedElazizShe Can you please help me on this?

[2021-02-17 19:20] arindamhit opened #57 "Compression time is taking too much"
If I am capturing a video using mobile camera for 1 minute, the video size is coming around 150 MB. If I am compressing it with Medium quality, the compression time is coming around 1 min 30 secs. Compressed video size is around 30 MB. I am happy with the size but the compression time is too high. I am using OnePlus 3T and Android version is Android 9. SDK version I am using is 21. I am adding the

[2021-02-18 06:51] arindamhit commented on #57
@AbedElazizShe Can you please have a look on the issue.

[2021-02-18 13:10] AbedElazizShe commented on #56
Could you please share your proguard-rules so I can understand which rule is causing this, I can't reproduce it.

[2021-02-18 13:12] AbedElazizShe commented on #54
I think your problem is not the compression but how you play the video. What do you use to play the video? Record a video of the scenario if you may. Thank you.

[2021-02-18 13:12] melkopisi commented on #56
I don't  have one it's  happening  when i set minify = true in gradle

[2021-02-18 13:21] AbedElazizShe commented on #53
@vedst  I have tested the video from the provided link on pixel 4a and it is working fine. It seems you're using an older version of the library, please update to the latest version 0.7.9 and let me know if you still face the problem.

[2021-02-18 14:26] AbedElazizShe commented on #57
@arindamhit Thank you for opening this issue, could you please try version 0.8.0 and let me know if the performance is better. Thank you

[2021-02-18 14:54] AbedElazizShe commented on #56
Could you please try something like this ?

-keep class * implements com.coremedia.iso.boxes.Box {* ; }
-dontwarn com.coremedia.iso.boxes.*
-dontwarn com.googlecode.mp4parser.authoring.tracks.mjpeg.**
-dontwarn com.googlecode.mp4parser.authoring.tracks.ttml.**

Let me know if it works. Thank you.

[2021-02-18 16:09] arindamhit commented on #57
@AbedElazizShe Not much difference. Now I tried with LOW against latest SDK 0.8.0 as per your suggestion. It took 36 secs to compress 1 min captured video (size is approx 150 MB)

Here is the code:
`      runOnUiThread(new Runnable() {
                        @Override
                        public void run() {

                            VideoCompressor.start(currentVideoPath, destVideoPath, ne

[2021-02-21 19:18] chrissyast commented on #54
@AbedElazizShe

It happens on the native player on my OnePlus 6 and also on VLC. On Chrome the embedded file from the link fails to load too.

Screen recordings of playback
https://content.astles.dev/file/RandomStuffCA/21-02-21-14-22-51.mp4
https://content.astles.dev/file/RandomStuffCA/21-02-21-14-25-29.mp4

[2021-02-24 11:46] mbpatel6245 opened #58 "Compress video file don't have extension"
I have checked the library successfully compressed the video file but the compressed file does not have extensions so in that case, we need to manually set extensions then we can check the video.

can anyone help me to get the default extension that I have to pick the video (like mp4, mov, avi, wmv etc) and compress video give the same extension?

[2021-03-01 07:01] kientrung0412 opened #59 "Video cant compressor when newWith or newHeight is odd"
Not all devices,  It happens on redmi note 8, miui 12

[2021-03-02 11:26] melkopisi commented on #56
It seems that the last version fixed the proguard issue in the release but created another issue now in release when we compress the videos don't have any metadata so I can't complete my video processing.

PS: when I add Sillicompressor library besides your library it fixes the metadata issue for now

[2021-03-02 12:32] melkopisi commented on #56
after some investigations, we found that when we add this jar lib: aspectjrt-1.7.3.jar it fixes the issue for now.
So I assume that you're using it with a different version.

[2021-03-03 06:33] Baaaaatz commented on #22
Is this resolved already? Experiencing this while uploading the output to s3 bucket.

[2021-03-03 14:05] AbedElazizShe commented on #53
I will close this issue, feel free to re-open if you test in the new version and you still have the issue.

[2021-03-03 14:05] #53 closed

[2021-03-03 14:19] AbedElazizShe commented on #54
That's a problem related to the app you play the video in, try something else like vlc. The problem is not rtelated to the compressor. I will close this issue, feel free to re-open if the issue is related to compression.

[2021-03-03 14:19] #54 closed

[2021-03-03 14:44] chrissyast commented on #54
The second recording in my previous comment is in vlc

[2021-03-03 15:00] AbedElazizShe commented on #59
@kientrung0412 thank you for the details, I will investigate that and will notify you when the fix is added.

[2021-03-03 15:02] AbedElazizShe commented on #58
@mbpatel6245 thank you for opening this issue. That's a strange problem that I haven't faced before. Could you please try the apk sample in README? Please provide details like the device you use, the Android version, and maybe the video you use to compress. Thank you.

[2021-03-03 15:06] AbedElazizShe commented on #57
From 1 minute and 30 seconds, to 36 seconds is a huge improvement. I think that's the prefromance you have for that specific video on your testing phone. Speed may differ from on phone to another, I don't think this could be improved further, at least at the moment.

[2021-03-03 15:06] #57 closed

[2021-03-03 15:12] AbedElazizShe commented on #56
@melkopisi thank you for the valuable information and I am glad the problem is solved. I believe the version I use is 1.8.2. I will investigate this further. Version 1.7.3 is used in isoparser 1.0.1, and I am using 1.0.6, unfortunately, updating isoparser is really a huge job at this stage. I will definitely work on that in the near future. Thank you.

[2021-03-03 15:12] #56 closed

[2021-03-07 04:31] mradzinski commented on #22
This is extremely important. Most people compress a video and then upload it for later reproduction. If after compression the video needs to be fully downloaded and can't buffer, then the entire point of compressing it gets lost.

[2021-03-09 01:27] riskikukuh opened #60 "Compressed video cannot be sent via Whatsapp"
- Device name
Realme 5 Pro
- Android version
Android 10
- Library Version
`0.8.0`

**Description issue**
Compressed video cannot be sent via whatsapp, and show dialog "Can't send this video. Choose a different video and try again". Preset compress : VideoQuality.VERY_HIGH, isMinBitRateEnabled = true, keepOriginalResolution = true

Screenshot error
![1](https://user-images.githubusercontent.com/373

[2021-03-09 09:40] riskikukuh commented on #60
@AbedElazizShe Can you please have a look on the issue

[2021-03-09 17:33] AtulSalgaonkar opened #61 "NullPointerException"
After compressing video file size was 0b

and after debug found bellow error in logs of sample code, have used LOW Quality

java.lang.NullPointerException: Attempt to invoke interface method 'java.lang.Object java.util.Map.get(java.lang.Object)' on a null object reference

Line No: 570
File Name: Compressor.kt

in MediaCodecInfo.CodecCapabilities.createFromProfileLevel

Model Name: Redmi Note 3 Pr

[2021-03-09 18:28] hidash opened #62 "cannot able to read the duration parameter in meta data with out using codec"
After .mp4 Video Compression Video cannot able ** to  read the duration parameter in meta data with out using codec** ,also the desired out is in fine but cannot able to open up with out codec,
![Capture](https://user-images.githubusercontent.com/8371370/110519240-14f75200-8133-11eb-80c1-70d6e875d919.PNG)

any option to solve it ?

[2021-03-10 15:53] AbedElazizShe commented on #62
@hidash  thank you for opening this issue. Does it happen in multiple devices ? Could you please share the devices you're using?

[2021-03-10 15:58] AbedElazizShe commented on #60
@riskikukuh thank you for opening the issue and all the provided details. I will look into it and get back to you soon, I am a bit busy these days that it may take me a week or so before releasing a new version. Sorry for that. Just a question, does it happen in other devices or just the provided one? As I am using BrowserStack for testing and that model does not exist.

[2021-03-10 16:02] AtulSalgaonkar commented on #61
This crash occurred in Sample code of repository, i have mentioned the device details early, i.e.
**Model Name:** Redmi Note 3 Pro
**Android Version:** 6.0.1
And this crack occurred every time after i select video, i have mentioned line no and class name where it crashes, other then that if you need any information then let me know

[2021-03-10 16:16] riskikukuh commented on #60
@AbedElazizShe it also happened in Samsung ( idk specific device name ) android 8 and Xiaomi with Custom Rom android 11.

I also test other library with base from Telegram like https://github.com/lalongooo/video-compressor and it work for compressing and send compressed video to Whatsapp. Maybe that can help.

Thank you for your response

[2021-03-10 17:06] gookman commented on #61
@AbedElazizShe I am experiencing the same problem and I can confirm that this is an Android 6 issue. The issue is in `Compressor.setOutputFileParameters` when calling `MediaCodecInfo.CodecCapabilities.createFromProfileLevel`. Based on the documentation on Android 6 any methods of `MediaCodecList` must be called before calling `createFromProfileLevel`.
You can see it [here](https://developer.androi

[2021-03-11 03:51] hidash commented on #62
@AbedElazizShe  yes, I have using Android 10 in Redmi Note 7 Pro , also checked in Samsung Devices

[2021-03-13 02:43] Joshuaj2804 opened #63 "No audio after compress"
On latest version, after compressing, playing back on phones always results in audio codec not supported error, and on Chrome (after upload the video to server), the video doesn't play

[2021-03-13 04:48] hidash commented on #62
@AbedElazizShe can you able to solve this issue, i hope so, thank you

[2021-03-13 04:50] hidash commented on #62
Real me 2
Redmi Note 7 Pro
Samsung M31S
i have checked with thee phone

[2021-03-15 05:17] hidash commented on #62
@AbedElazizShe  Hello, in the server side trying to load duration parameter from compressed file, using this plugin,
_https://www.npmjs.com/package/get-video-duration_
and can't able to read it, getting a response  _Error: No duration found!_

can you help me please, if you got any idea please....

[2021-03-16 14:28] bipinvaylu opened #64 "Video doesn't play on iOS or Mac after compress"
I am using this library for one of my project and I discover one issue when i compress video using this library and try to play on iPhone or Safari browser.

Original video: https://drive.google.com/file/d/1MXmwkjxB8WKX6_Rf78JXZ1E6W4yg639a/view?usp=sharing
Compressed video: https://drive.google.com/file/d/1zdX8gUgrEoGttWifHh_2JZP3hZqncSq7/view?usp=sharing

When we try to play this video in quick t

[2021-03-17 03:53] bipinvaylu commented on #27
Hey @AbedElazizShe Thanks for this awesome library, But my app is built for iOS and Android both platforms so when Android user post video doesn't play on iOS app (by compressing video using this library). Do you have any update around rewriting?

[2021-03-19 11:33] rickrl1 commented on #64
Can confirm that this issue also occurs in the latest version 0.8.0 (worked fine in version 0.7.4). I have tried LOW and VERY_LOW quality level and the result is the same

[2021-03-19 12:04] nitininfoenum opened #65 "Library not working in android 11"
Unable to  creating directory using android 11 .It gives error when pass desPath

[2021-03-21 07:24] AbedElazizShe commented on #65
Thank you for opening the issue. Please refer to [sample app](https://github.com/AbedElazizShe/LightCompressor/blob/7afa700c3b2d7d79bebf33a79acd1f6800bd13d7/app/src/main/java/com/abedelazizshe/lightcompressor/MainActivity.kt#L206) on how you can save media in Android 11.

Let me know if you still have an issue.

[2021-03-21 07:28] AbedElazizShe commented on #64
@rickrl1 @bipinvaylu thank you for the details and opening the issue.

@bipinvaylu could you please try versions 0.7.8 and/or 0.7.4 and let me know if you have the same problem? This could help me know what went wrong in 0.8.0 which contains a major change in transcoding the video.

Thanks in advance.

[2021-03-21 07:31] AbedElazizShe commented on #63
@Joshuaj2804 thank you for opening the issue.

Could you provide more information on how you play the video? what kind of servers? for example if I use aws S3, would I have the same issue? And can you play the video if uploaded to google drive?  I just want to produce the scenario so I can ensure it's fixed.

Thank you.

[2021-03-21 07:43] AbedElazizShe commented on #58
The library will give the output as .mp4. What is the scenario where you got a no extension file?

I will close this issue due to inacivity and as the library works with .mov extension for examp,le. Feel free to reopen.

[2021-03-21 07:43] #58 closed

[2021-03-21 08:05] AbedElazizShe commented on #59
I have added a check to ensure this does not happen, It will be released soon.

[2021-03-21 08:25] AbedElazizShe commented on #60
@riskikukuh thank you, I have fixed the issue and I will release a new version shortly.

[2021-03-21 08:35] AbedElazizShe commented on #61
@AtulSalgaonkar @gookman thank you so much for the details, I must've missed it, It's fixed, I will release a new version shortly.

[2021-03-21 11:08] rickrl1 commented on #64
I tried 0.7.8 and it doesn't compress correctly at all - it just creates in a file that is 32 bytes. In 0.7.4, it compresses correctly and I am able to play the resulting video back on Android and iOS (Safari). In 0.8.0, it compresses correctly and I am able to play the resulting video on Android but it doesn't play back on iOS (Safari).

Hope this provides a bit more insight into what the issue m

[2021-03-21 11:17] rickrl1 commented on #64
FYI, 0.7.9 behaves the same as 0.8.0 i.e. can playback on Android but not iOS/Mac after compression

[2021-03-22 06:11] bipinvaylu commented on #64
Hey @AbedElazizShe I just checkout v0.7.4 as mentioned by @rickrl1 and that is also not working for me. It plays video fine on Android device but not playing on iOS device.

[2021-03-22 12:52] nailshakurov opened #66 "For some reason, the duration of the video is cut off. Why?"

[2021-03-22 12:54] #66 closed

[2021-03-22 14:21] AbedElazizShe commented on #62
@hidash I have been investigating this for a while, I will notify you when it is figured out. Thank you.

[2021-03-22 14:25] AbedElazizShe commented on #64
@rickrl1 @bipinvaylu thank you for all the useful details. Media codec is really tricky. I fix something in a set of devices causing others to fail. Have been experimenting for sometime now, that's why the library never reached version 1.0.0 yet. I will keep investigating and try to fix the issue in all devices, but as you can imagine, this might take some time.

Thank you a lot. Feel free to cont

[2021-03-22 22:37] VikasTiwari199915 commented on #63
I am having the same issue, there is no sound or sound track is not supported by any player, if i play the compressed video in android phone there is no sound, i fi play it in my laptop in vlc player it says:
**Codec not supported
VLC could not decode the format "mp4a" (MPEG AAC Audio)**
![Screenshot 2021-03-23 at 4 01 17 AM](https://user-images.githubusercontent.com/44534116/112066488-6fa99880-8b

[2021-03-22 22:55] VikasTiwari199915 commented on #63
ok, i was searching some way to fix this, and found a solution that works for me.
implementation 'com.googlecode.mp4parser:isoparser:1.1.22'
changing the version of isoparser from latest version to 1.0.6 fixed the audio issue for me.

[2021-03-26 12:39] rickrl1 commented on #64
Thanks @AbedElazizShe. A bit more info....it seems that the result is also dependent on the Android version. I had a report where the compression wasn't working at all on a particular Android phone (not sure which one) but after that phone had its Android version updated (not if 10 or 11), compression was successful and I could also view the video on iOS/Mac. This is for version 0.8.0. But as I sa

[2021-03-26 23:19] rickrl1 commented on #64
Hi again, just a bit more info. Tried 0.8.0 again on my j5 Pro (Android 9) and when trying to play the compressed video in QuickTime player (on Mac), I do get the same alert as @bipinvaylu has shown above, but if I open the file anyway, it plays fine.  The file doesn't play inside the Safari browser. Not sure if this helps at all.

[2021-03-27 08:04] AbedElazizShe commented on #63
@VikasTiwari199915 Thank you for your input. Yes correct, the compressor requires 1.0.6 isoparser. Updating to the lastest version is a huge, but will be done at some point this year.

[2021-03-27 14:22] AbedElazizShe commented on #64
@rickrl1 @bipinvaylu I have resolved the issue. The problem is not related to the Android version rather than a specific encoder; c2.qti.avc.encoder.  I have resolved this and tested on Mac as well. I have 70 more devices to test on before releasing the new version. Will do my best to finish that tomorrow.

[2021-03-27 14:23] #63 closed

[2021-03-28 14:07] AbedElazizShe commented on #59
Issue fixed in version 0.8.1. Please let me know if you still have the issue. You can close the task if the problem is solved.

[2021-03-28 14:08] AbedElazizShe commented on #60
Issue fixed in version 0.8.1. Please let me know if you still have the issue. You can close the task if the problem is solved.

[2021-03-28 14:08] AbedElazizShe commented on #61
Issue fixed in version 0.8.1. Please let me know if you still have the issue. You can close the task if the problem is solved.

[2021-03-28 14:08] AbedElazizShe commented on #64
Issue fixed in version 0.8.1. Please let me know if you still have the issue. You can close the task if the problem is solved.

[2021-03-28 15:28] riskikukuh commented on #60
@AbedElazizShe thank you for the update, but i still facing the issue. Ii think this issue happened because whatsapp add limitation like bitrate or something

[2021-03-28 15:54] #61 closed

[2021-03-30 07:16] Bloody-Badboy opened #67 "Add support for content URI"
[code]

[2021-04-02 04:40] ShaQib07 opened #68 "RuntimeException: setDataSource failed"
Fatal Exception: java.lang.RuntimeException: setDataSource failed: status = 0x80000000
       at android.media.MediaMetadataRetriever.setDataSource(MediaMetadataRetriever.java)
       at android.media.MediaMetadataRetriever.setDataSource(MediaMetadataRetriever.java:81)
       at com.abedelazizshe.lightcompressorlibrary.Compressor.compressVideo(Compressor.kt:45)
       at com.abedelazizshe.lightcom

[2021-04-04 18:01] arindamhit commented on #57
If I record a 5 min of video, the size of video is coming around 800 MB. When I am compressing it, is taking around 2 mins. I am trying VideoQuality.MEDIUM or VideoQuality.LOW. Is there a way to improve it?

[2021-04-05 03:52] pha141 opened #69 "ios:Failed to Compress"
Medium->low(bit rate disabled) :: I recorded the video with UIImagepickercontroller with video quality medium. try to the compress video with low. thrown error  as
"The provided bitrate is smaller than what is needed for compression try to set isMinBitRateEnabled to false".

I found two solutions but both are not feasible for me :

1.high-> low (bit rate disabled):: recording video quality with hi

[2021-04-06 00:14] juslam opened #70 "Mirror effect"
I tried to use this plugin and the results are like the image below. .... the result was flipped...

![image](https://user-images.githubusercontent.com/11010081/113640945-28a0c480-96af-11eb-850e-d949bac73362.png)

[2021-04-11 06:02] #59 closed

[2021-04-11 06:05] AbedElazizShe commented on #60
@riskikukuh could ypu please confirm you're using the lastet version? I fixed the issue and it does not happen again in the last version. If it keeps happening, let me know the list of devices you used for testing. thank you.

[2021-04-11 06:05] #64 closed

[2021-04-11 06:06] #65 closed

[2021-04-11 06:07] AbedElazizShe commented on #69
@pha141 I think this issue should be opened somewhere else. This is the Android library. I am gonna close it,

[2021-04-11 06:07] #69 closed

[2021-04-11 06:10] AbedElazizShe commented on #70
@juslam Thank you for opening this issue. This is very interesting, I have never face this before. Could you please share:

- The device model
- The version of the library use.
- The original video if possible.

Thank you.

[2021-04-11 06:13] AbedElazizShe commented on #68
@ShaQib07 Thank you for opening this issue, please provide more details to undertsand how this is happening:

- The device's model and the Android version.
- The version of the library used.
- Sample code/link to show the method you used to pick the video and send its path to the library.

Thank you.

[2021-04-11 07:13] AbedElazizShe commented on #67
@Bloody-Badboy thank you for your suggestion. I added support for that, it will be available in version 0.9.0.

[2021-04-11 07:14] #60 closed

[2021-04-11 07:15] AbedElazizShe commented on #62
@hidash please try with the latest version of the library, I believe it is fixed. Feel free to reopen if you still have a n issue.

[2021-04-11 07:15] #62 closed

[2021-04-11 10:22] #67 closed

[2021-04-15 03:13] waterdrake commented on #22
Any updates on this? Would be really useful for streaming.

[2021-04-15 04:29] Kunalapk commented on #22
We processed our videos on server(added some meta data in video file) and made them streamable.

[2021-04-15 17:14] oleh-mryhlod commented on #64
Hi @AbedElazizShe
For me, compression isn't working anymore on my google pixel 4 device because of decoder `c2.android.avc.decoder`.
Maybe the output from logcat related to the decoder will help:
[code]
Also I've tried different encoders and decoders, and seems like there is a working solution (compression actually works and the otput is playable on Mac and iOS):
encoder still can be `c2.android.a

[2021-04-16 02:30] waterdrake commented on #22
What did you use to do that?

[2021-04-16 06:11] Kunalapk commented on #22
used ffmpeg in python

[2021-04-16 07:27] Kunalapk commented on #22
We have attached that process to different thread and notified our user "Your video is processing we will send you a notification when it's ready to view", and nope it is not that much heavy. @waterdrake

[2021-04-22 08:26] ShaQib07 commented on #68
Thanks for your reply.
Here's the information you've asked for
Android OS :  9 | Device : Galaxy S9
Library Version = 0.7.7

`fun downloadVideo() {
        val fileExists = findVideoFile(context, getPublicVideoFileName())
        Timber.d("GSK | $fileExists")
        if (fileExists) {
            videoDownloadLiveData.postValue(Resource.Success(context.getString(R.string.file_already_exists)))

[2021-04-23 07:45] Yogesh9900 opened #71 "Failed to resolve: com.github.AbedElazizShe:LightCompressor:0.9.0"
I am trying to  add LightCompressor:0.9.0 library in app gradle.
    implementation 'com.github.AbedElazizShe:LightCompressor:0.9.0'

Getting issue: Failed to resolve: com.github.AbedElazizShe:LightCompressor:0.9.0

My kotlin version is:  "1.4.21"

[2021-04-25 19:15] arindamhit opened #72 "Compression time is too high for the larger size video"
Hi,

I am trying to compress a video which is around 900 MB size. It is getting compressed and size is coming around 200 MB. But compression time is taking around 5 mins which is too high.

My code is this:

`runOnUiThread(new Runnable() {
                        @Override
                        public void run() {

                            VideoCompressor.start(currentVideoPath, destVideoPath

[2021-04-28 04:20] waterdrake commented on #22
@Kunalapk Cool.

Would still be cool if this library could do it! Would save a lot of time and offload the work to the client. Anyone have any ideas how that can be done?

[2021-04-28 11:17] Kunalapk commented on #22
of course @waterdrake.

[2021-04-30 11:21] bmarty commented on #71
Hello @Yogesh9900, have you done https://github.com/AbedElazizShe/LightCompressor#gradle ?

[2021-04-30 16:18] Yogesh9900 commented on #71
Yes.

[2021-04-30 16:37] AbedElazizShe commented on #72
@arindamhit thank you for opening this issue. Could you please try the latest version of the library and see if it takes less than that. I built this library to support medium size videos and never exexted videos that big. I will try to improve the speed in the coming weeks.

Thank you.

[2021-04-30 16:38] AbedElazizShe commented on #68
@ShaQib07 thank you for the details and sorry for the late reply. Could you please try to use the latest version of the library ?

[2021-04-30 16:39] #70 closed

[2021-04-30 16:41] AbedElazizShe commented on #71
@Yogesh9900 thank you for opening the issue. I belive this issue happens when  maven { url 'https://jitpack.io' } is not added to the project's build.gradle as @bmarty mentioned. Could you please share a snippet of the code of build.gradle?

[2021-04-30 16:46] AbedElazizShe commented on #22
@waterdrake @Kunalapk thank you for the feedback and the usefull details. Sorry I got really busy and didn't have time to enhance that. I am open to ideas on how the video should be fixed to achieve what you want. @Kunalapk If I can know what is the meta data added, I could just handle that in the library during compression.

Thank you.

[2021-04-30 16:57] AbedElazizShe commented on #71
@Yogesh9900 I am glad it is working for you.

[2021-04-30 16:57] #71 closed

[2021-04-30 18:07] oleh-mryhlod commented on #64
Hi @AbedElazizShe
I also tried a lib called LiTr https://github.com/linkedin/LiTr (someone mentioned it in one of the previous issues related to the green screen) - and it works fine, videos play fine on ios/mac after compression on pixel 4 android 11.
And I noticed that it also chooses that `c2.qti.avc.encoder` and  `c2.qti.hevc.decoder` on pixel 4 to compress video (and that codes are the fastes

[2021-05-04 06:47] Shubham-Mollatech commented on #63
hi @AbedElazizShe
I tried with both version but having same issue
implementation "com.googlecode.mp4parser:isoparser:1.1.22"
implementation "com.googlecode.mp4parser:isoparser:1.0.6"

[2021-05-04 06:53] Shubham-Mollatech opened #73 "No Audio After Compress the video"
hi @AbedElazizShe
I tried with both version but having same issue
implementation "com.googlecode.mp4parser:isoparser:1.1.22"
implementation "com.googlecode.mp4parser:isoparser:1.0.6"
have any one resolved this issue?

[2021-05-06 06:45] fereshteh-jvz opened #74 "Permission for android 11"
Hi @AbedElazizShe

Write persmission is not working for android 11.. So compression fails and says "Source path: $source can be invalid! or you don't have READ_EXTERNAL_STORAGE permission" even though I have the READ permission

I am using 0.9.0 version

Please help on this

[2021-05-06 06:52] fereshteh-jvz commented on #74
Please this is urgent
Because from 5th of may google play doesn't allow WRITE Persmission and requestLegacyExternalStorage=true must be removed.

[2021-05-06 12:51] axionnneeeel opened #75 "[Feature request] Let the user choose bitrate/width/height"
Hi.

Would it be possible to add the feature to choose by ourselves bitrate/width/height instead of giving some predefined quality types ?

[2021-05-06 17:22] arindamhit commented on #72
Hi, I upgraded to 0.9 version. But not much change. Still it takes a lot time for compressing.

Is there any further update?

[2021-05-07 11:11] soelling commented on #68
@AbedElazizShe I have reproduced the same issue on following device:
Android OS: 7.0
Device: Samsung Galaxy XCover
Library Version: 0.9

[2021-05-09 07:34] ShaQib07 commented on #68
@AbedElazizShe sorry, currently working on something else, but I'll surely get back to it later and let you know.

[2021-05-12 09:32] abhayjaiswal opened #76 "During Compress Issue"
I am getting these logs in logcat but give the response in onSuccess() . Video is not compress when i got this logs

**1st Logs:-** /MediaExtractor: Trace connect 0x8e618e40 0x8dc4d4c0
/ACodec: [OMX.qcom.video.encoder.avc] configureCodec returning error -1010
/ACodec: signalError(omxError 0x80001001, internalError -1010)
MediaCodec: Codec reported err 0xfffffc0e, actionCode 0, while in state 3
Med

[2021-05-18 18:49] arindamhit commented on #72
Any update on this?

[2021-05-19 06:07] Nikki-Gunani commented on #76
W/OMXUtils: do not know color format 0x7f000789 = 2130708361
E/ACodec: [OMX.google.h264.encoder] configureCodec returning error -61
E/MediaCodec: Codec reported err 0xffffffc3, actionCode 0, while in state 3
E/MediaCodec: configure failed with err 0xffffffc3, resetting...
I/OMXClient: IOmx service obtained
E/Compressor: Error 0xffffffc3
I/BpBinder: onLastStrongRef automatically unlinking death rec

[2021-05-30 09:37] mcnarek opened #77 "After update com.googlecode.mp4parser:isoparser:1.1.22 light compressor gave me black video"
on Android 12 Beta on Pixel 5 light compressor after compressing gave me green effected video

[2021-06-01 05:35] bijosh-accubits commented on #74
Hi,

I am also facing the same issue. Is there any fix available for this? Can you please help?

[2021-06-09 11:55] gandhiishan624 commented on #73
Yes, I facing same issue. have any solution??

[2021-06-11 08:01] jaySC123 commented on #60
Hi @AbedElazizShe, i'm using v0.9.0 of this library and can confirm that this issue is still happening. i'm sending compressed videos to whatsapp via twilio, and when the videos get downloaded it gives a similar dialog. if i try to upload the same compressed video via whatsapp, the dialog in @riskikukuh 's screenshot shows

[2021-06-13 06:49] AbedElazizShe commented on #76
Sorry for late reply and thank you for opening the issue. The functionlity of this library depends alot on the device you're using. I'd appriciate if you can share which devices and which android version they're running so I can narrow down the cause. Thank you.

[2021-06-13 06:50] AbedElazizShe commented on #75
@axionnneeeel thank you for the request, I will work on adding that within 2 weeks.

[2021-06-13 07:53] AbedElazizShe commented on #74
Thank you for opening this issue.

I believe you can remove `requestLegacyExternalStorage=true` and change the permission to:

[code]

Does that work ?

[2021-06-13 07:55] AbedElazizShe commented on #77
Unfortunately, only 1.0.6 is supported for now.

[2021-06-13 07:55] #77 closed

[2021-06-13 08:05] AbedElazizShe commented on #64
@oleh-mryhlod I changed the decoder as you mentioned and it seems fine, my videos compressed using my pixel4a are playing fine on windows and mac. I will release a new version shortly. I'd appriciate if you could try it.

[2021-06-13 08:06] AbedElazizShe commented on #73
Thank you for opening the issue. Please share the devices you're using for testing as I don't have any issues on my testing devices. Anyway, with 1.1.22 there will be no audio, however, 1.0.6 which this library uses, should work just fine.

[2021-06-13 08:07] AbedElazizShe commented on #72
@arindamhit sorry for the late reply. Please share the video you try to compress so i can test and optimise the performance.

[2021-06-13 09:03] abhayjaiswal commented on #76
Hi AbedElazizShe/LightCompressor

I am using oreo 8.1 and redmi device

On Sun, Jun 13, 2021, 12:19 PM Abed Elaziz Shehadeh <
***@***.***> wrote:

[2021-06-13 09:19] AbedElazizShe commented on #75
Added support in version 0.9.1. Please let me know if you have any issues or questions.

[2021-06-13 09:19] #75 closed

[2021-06-13 09:20] AbedElazizShe commented on #76
Thank you for the quick reply. Could you please try version 0.9.1 ?

[2021-06-13 10:15] AbedElazizShe commented on #68
@soelling @ShaQib07 thank you for yor replies. I tested version 0.9.2 on the mentioned devices and i didn't have any issues. Could you please try the sample app and let me know if you're having the same issue?

[2021-06-13 14:22] abhayjaiswal commented on #76
Yes I have latest version of library.

On Sun, Jun 13, 2021, 2:50 PM Abed Elaziz Shehadeh ***@***.***>
wrote:

[2021-06-14 06:10] PositronPiercer commented on #74
Hi,
I was getting the same error. Passing absolute path worked for me
[code]

[2021-06-15 10:09] lancer1268 commented on #74
Hi,
the sample app didn't work on my Samsung A60 with Android 10 and the error message was what @fereshteh-jvz mentioned.

IMHO, the uri of the selected video should be used in the contentProvider, otherwise it would have permission issue when read from its path.

I modified the function `Compressor.compressVideo` and then the sample app works
- replace `setDataSource` of `MediaMetadataRetriever`

[2021-06-15 14:21] bijosh-accubits commented on #74
Hi @lancer1268 , Thanks for the help. I tried exactly as you said, but it's not working. Is there anything to do other than this?

[2021-06-15 14:21] bijosh-accubits commented on #74
Still not working on Android 10 for me. Please help

[2021-06-15 18:07] lancer1268 commented on #74
I forgot to mention that you might need to change the `desFile` in `MainActivity.saveVideoFile`.
Otherwise you might encounter the error `java.io.IOException: Permission denied`.

One possible solution is to use
[code]

Hope this would help.

[2021-06-16 17:59] arindamhit commented on #72
@AbedElazizShe Sure.. I will share with you over email. Is that fine?

[2021-06-17 09:34] fereshteh-jvz commented on #74
![WhatsApp Image 2021-06-17 at 2 01 20 PM](https://user-images.githubusercontent.com/46874710/122370899-aff29a00-cf74-11eb-96ba-7913ec40612f.jpeg)
 Hi @AbedElazizShe
 Thanks for your reply. This is your sample app on android 10 and still shows the same error.
 I believe @lancer1268 solution will work on this issue.

[2021-06-22 06:39] gandhiishan624 commented on #73
Actually Audio issue with Exo-Player play. After Compress Video process, The Audio not playing in Exo-Player and getting Exo-Player audio error. but When you export it to the computer and try to play in the computer media player, It is working fine.

[2021-06-28 16:31] nailshakurov opened #78 "Error start failed"
![image](https://user-images.githubusercontent.com/11345578/123671806-baa00f80-d84f-11eb-9950-ba457f98d1f3.png)

[2021-06-29 06:02] wnsxor07 opened #79 "Always compressing 32.0 Bytes"
I use Video Compressor class. But It always compressing 32.0 Bytes.

This is my code.

`Uri uri = Uri.parse(filePath);
                    VideoCompressor.start(
                            getApplicationContext(),
                            uri,
                            filePath,
                            desFile.getAbsolutePath(),
                            new CompressionListener() {

[2021-06-29 12:04] Kedar1515 opened #80 "Not able to share compressed video on WhatsApp."
After Compression I am sharing the video to the WhatsApp via Intent. Video is going forward to the WhatsApp but message is not sending by WhatsApp. Showing error like "Can't Send Video try another one."  I tried the same process with out Video Compression, that time Message got sent without any error.
![bbad3283-0c27-4b67-a882-18a3dc0ccd3a](https://user-images.githubusercontent.com/25767698/123795

[2021-07-01 11:03] aleks-walker commented on #71
I added
`maven(url = "https://jitpack.io")`
to the build.gradle.kts but still get an error
`Failed to resolve: com.github.AbedElazizShe:LightCompressor:0.9.2`

[2021-07-02 15:50] DevPraly commented on #79
Hi, same issue for me. Callback onSuccess is called but every video is compressed to 32B file.
Compressor Config is:
`new Configuration(
                        VideoQuality.LOW,
                        false,
                        false,
                        960.0 ,
                        540.0,
                        null)`

[2021-07-03 04:54] AbedElazizShe commented on #79
Thank you for opening this issue. It is most probably related to how you handle the destination file. Do you see any error messages on the log? Could you please try the sample app? You can find the link on README. In addition, you can have a look at this method to save the video https://github.com/AbedElazizShe/LightCompressor/blob/1584ab39206d3b10a18ece0f2dec836ad6812015/app/src/main/java/com/abe

[2021-07-03 05:00] AbedElazizShe commented on #78
@nailshakurov thank you for opening this issue. It seems you're not using the latest version of the library, could you please confirm that?

In addition, please try the sample app where you can find a link to it in README file. If you have any issue, please share your Android version and the Android phone you're using for testing.

Thank you.

[2021-07-03 05:18] AbedElazizShe commented on #76
@abhayjaiswal thank you for the confirmation. I have tried on almost all devices on browserstack and couldn't reproduce the issue. Could you please do me a favor and try the sample apk in README, and let me know if the issue is happening?

You might as well share a sample video so I can try on my side. The issue could be related to a specific video configurations.

Thank you.

[2021-07-03 05:54] AbedElazizShe commented on #74
@lancer1268 thank you for the great details. I managed to fix the issue based on your inputs.

Regarding the destination file in your activity, you can just replace `Environment.getExternalStoragePublicDirectory(Environment.DIRECTORY_DOWNLOADS)` with `applicationContext.getExternalFilesDir(Environment.DIRECTORY_DOWNLOADS)`

I will release a fix shotrly.

[2021-07-03 06:48] #73 closed

[2021-07-03 06:50] AbedElazizShe commented on #72
@arindamhit please share a link here and give me access to it. Emails can easily be missed. Thanks

[2021-07-03 06:50] #68 closed

[2021-07-03 10:23] AbedElazizShe commented on #79
Please try in version 0.9.3. I think it should be handled.

[2021-07-03 10:23] AbedElazizShe commented on #78
Please try version 0.9.3 and let me know if you have any issues.

[2021-07-03 10:25] AbedElazizShe commented on #76
Please try in version 0.9.3 and let me know if it is fixed.

[2021-07-03 10:25] AbedElazizShe commented on #74
Please try in version 0.9.3.

[2021-07-04 08:18] aleks-walker commented on #71
@AbedElazizShe the problem is still present with 0.9.3

[2021-07-04 10:22] aleks-walker commented on #71
My problem was that Android Studio Arctic Fox (beta channel) doesn't create "allprojects" in build.gradle file
these will help:
https://stackoverflow.com/questions/33058358/jitpack-io-failed-to-resolve-github-repo
https://stackoverflow.com/questions/66475730/in-android-studio-arctic-fox-canary-8-the-app-level-build-gradle-does-not-gener

[2021-07-05 07:17] DevPraly commented on #79
Hi, I can confirm the bug is fixed in 0.9.3.
Compile/target sdk 30, running on android 10

Thanks !

[2021-07-05 08:57] nailshakurov commented on #78
No, the problem is not the version. I used the new version didn't help.
Error: Startup error failed
It comes down due to the fact that mediacodec, I use it in two places in parallel.

The problem in the library is that the catch block does not handle the exception correctly. An error comes, but the result from the library is successful - this is not true.

[2021-07-07 07:03] a-rizwan commented on #80
same issue

[2021-07-20 04:26] namitshah commented on #79
Hi, I am using version 0.9.0 because somehow the classes are not being imported in v0.9.3.
I am getting the same behaviour (success() called and a 32B video file being created). I am testing the app on an Android 7 device and am getting a 'libwvm.so not found' message in the error logs which I believe is something related to audio processing.

[2021-07-20 11:17] shaktis110 commented on #76
sir its not fixed same error on pixel 3a api 28 android 9

[2021-07-20 11:19] shaktis110 commented on #76
even the demo apk not working getting same error as mentioned above

[2021-07-20 11:38] shaktis110 commented on #76
Recorded videos are compressed, the problem is only with downloaded videos

[2021-07-20 21:09] shaktis110 opened #81 "compression Error"
device - pixel 3a
android 9
api 28

Recorded videos are compressed, the problem is only with downloaded videos from internet giving error
 configureCodec returning error -61.

tested on demo.apk 0.9.2  and also with 0.9.3

[2021-07-21 04:04] AbedElazizShe commented on #81
@shaktis110 thank you for opening this issue. Could you please share one of the videos so I can debug?

[2021-07-21 05:26] shaktis110 commented on #81
thank you so much for your precious time sir
here is the link : https://drive.google.com/file/d/1XDLZIxQS96bsyjJO7cNONu2j-G1a1n-y/view?usp=sharing

[2021-07-21 05:35] shaktis110 commented on #81
thank you so much for your precious time sir.
here is the link :https://drive.google.com/file/d/1Xk9b-oaFyhf15Tv8lK2kUdNU0hTzCF5F/view?usp=sharing

[2021-07-21 05:36] shaktis110 commented on #81
![Screenshot_1626844830](https://user-images.githubusercontent.com/38592947/126436433-33295577-38fb-45d2-a15d-03734b1eea66.png)

[2021-07-21 05:36] shaktis110 commented on #81
![IMG20210721105059](https://user-images.githubusercontent.com/38592947/126436493-dbc7d766-253f-4a74-8c97-6507f210068f.jpg)

[2021-07-21 08:26] AbedElazizShe commented on #81
@shaktis110 thanks a lot man, it has to be device specific with the OMX encoder, could you please let me know of your testing device?

[2021-07-21 08:28] AbedElazizShe commented on #79
@namitshah why the classes are not being imported? could you please share the error messages?

[2021-07-21 08:36] shaktis110 commented on #81
Sir I am testing on emulator pixel 3a

On Wed, Jul 21, 2021, 1:57 PM Abed Elaziz Shehadeh ***@***.***>
wrote:

[2021-07-21 08:41] AbedElazizShe commented on #78
@nailshakurov thank you for pointing this out, i improved it.

[2021-07-21 08:41] #78 closed

[2021-07-21 08:55] AbedElazizShe commented on #76
Potential duplication of #81

[2021-07-21 08:55] #76 closed

[2021-07-21 09:15] AbedElazizShe commented on #81
That emulator does not have a hardware encoder, and there isn't much I can do. Please try physical devices or things like GenyMotion or browserStack for testing.

[2021-07-21 09:16] shaktis110 commented on #81
Thanks sir , I'll check it out.

On Wed, Jul 21, 2021, 2:45 PM Abed Elaziz Shehadeh ***@***.***>
wrote:

[2021-07-21 09:18] AbedElazizShe commented on #81
@shaktis110 let me try to add a solution to use software encoders. I need to play around with profile levels, give me a few minutes to try.

[2021-07-21 09:24] shaktis110 commented on #81
Thank you sir

On Wed, Jul 21, 2021, 2:48 PM Abed Elaziz Shehadeh ***@***.***>
wrote:

[2021-07-21 09:28] AbedElazizShe commented on #81
it's working now, will publish a release shortly. Thanks for the valuable details.

[2021-07-21 09:28] shaktis110 commented on #81
I'm glad to have your help sir

On Wed, Jul 21, 2021, 2:54 PM shakti shukla ***@***.***> wrote:

[2021-07-21 09:30] shaktis110 commented on #81
thank you so much sir when will i expect new release

On Wed, Jul 21, 2021, 2:58 PM Abed Elaziz Shehadeh ***@***.***>
wrote:

[2021-07-21 09:51] AbedElazizShe commented on #81
Released, version 0.9.4. Please close the issue if it works fine.

[2021-07-21 10:10] #79 closed

[2021-07-21 10:10] #74 closed

[2021-07-21 10:27] shaktis110 commented on #81
Respected sir, I have tested the new release and it is working perfectly.
Thank you very much sir for your valuable time.

[2021-07-21 10:27] #81 closed

[2021-07-21 11:51] namitshah commented on #79
@AbedElazizShe,
There seems to be an issue with Gradle Installation in version 0.9.3, as many classes and interfaces such as VideoCompressor, VideoQuality and CompressionListener are not present in the final installed package.
I am trying to use these classes in Java, and as most of these have been written in Kotlin, it is possible that they are not accessible because of this (an issue with Java c

[2021-07-24 09:43] Darshan10395 opened #82 "Getting Run time exception"
java.lang.RuntimeException: setDataSource failed: status = 0xFFFFFFEA
        at android.media.MediaMetadataRetriever._setDataSource(Native Method)
        at android.media.MediaMetadataRetriever.setDataSource(MediaMetadataRetriever.java:282)
        at android.media.MediaMetadataRetriever.setDataSource(MediaMetadataRetriever.java:246)
        at com.abedelazizshe.lightcompressorlibrary.Compressor

[2021-07-27 04:04] lee-ngeap opened #83 "aspect ratio"
can this compressor detect the portrait mode and change the aspect radio from 16:9 to 9:16?

[2021-07-28 13:51] kalasaceo opened #84 "Unable to stream video"
when i add android ffmpeg library the resultant video is unable to stream though the video can be played inside mobile device.
any idea  what should be change
https://github.com/SimformSolutionsPvtLtd/SSffmpegVideoOperation

[2021-08-05 12:30] akshayspaceo commented on #22
@AbedElazizShe any update on this problem?

[2021-08-06 10:28] shivanitt opened #85 "video compression not supporting for android version 11"
the same code is working fine in android 10 but when I'm running the app in the android  version 11 the app has been crashed

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.appcraft.salesforce, PID: 10218
    java.lang.RuntimeException: setDataSource failed: status = 0xFFFFFFEA
        at android.media.MediaMetadataRetriever._setDataSource(Native Method)
        at android.media.MediaMet

[2021-08-07 11:55] chnouman commented on #47
extremly slow, video size 17mb and taking 35sec

[2021-08-10 03:10] chnouman commented on #22
this is a serious issue

[2021-08-10 03:10] chnouman commented on #22
@AbedElazizShe please help man

[2021-08-10 06:37] AbedElazizShe commented on #85
@shivanitt Thank you for opening this issue. Have you tried the sample apk? Please let me know if this issue persists. Thank you.

[2021-08-10 07:39] AbedElazizShe commented on #22
@chnouman I am working on this now. Could you please share what you use for testing ? Is there a specific streaming type or protocol you're using?

I am compressing using pixel devices and I don't have issues streaming. Is there something specific I should know about?

[2021-08-10 09:44] chnouman commented on #22
@AbedElazizShe I'm using different devices like readme and Samsung. I compress the video and upload it to the server. I have a logic to only compress video if it is more than 20mb.

I uploaded 2 videos one with compression one without compression. Now from android app I get the list of videos, when I play the video which is compressed it take 8-15 seconds to start playing but the other video which

[2021-08-10 09:45] chnouman commented on #22
@AbedElazizShe let me know if you need any other thing from me or I can help here. I'm simply using a VPS server with PHP 7 for my backend apis. Nothing fancy.

[2021-08-10 12:30] AbedElazizShe commented on #83
@lee-ngeap thank you for opening this issue. Can I know what are you trying to achieve to understand the case better?

[2021-08-10 12:34] AbedElazizShe commented on #85
Duplicated issue #82

[2021-08-10 12:34] #85 closed

[2021-08-10 12:36] AbedElazizShe commented on #82
@Darshan10395 Thank you for opening the issue. Please try the sample apk, and have a look at the example app for a potential solution. I am testing on Android 11 and it is all fine. If the sample apk crashes, please share the error message with me.

Thank you.

[2021-08-11 00:39] AbedElazizShe commented on #22
@chnouman please try version 0.9.5. I added an ugly fix but it should get the job done, the catch that you need to pass another path. So in addition to [destPath], pass [streamableFile] path as string too. When done, the library will delete one video that reference [destPath] and the desired video will have streamableFile reference.

Let me know if there is any issues. Close the issue if it solves

[2021-08-11 00:40] AbedElazizShe commented on #84
@kalasaceo Thank you for opening the issue. Could you please try to use the latest version of the library with streamableFile path. Let me know if that solves your problem. There is a sample apk in the README for a quicker testing.

Thank you.

[2021-08-11 03:41] chnouman commented on #22
@AbedElazizShe thank you for your efforts we are really appreciating your time and effort for open source contribution. It is now loading the preview quickly and time has also improved but compared to normal video it is still taking some time. I'm attaching a video which is showing a comparison. The first video I played is normal(without compression size is around 17MB. The second video I'm playin

[2021-08-14 05:31] AbedElazizShe commented on #84
This is a duplicate of #22

[2021-08-14 05:31] #84 closed

[2021-08-18 14:31] ShaQib07 opened #87 "Does not work without JCenter"
All working ok, but if I remove JCenter from the repository, it doesn't compile anymore.
I've attached the logs as well.
![image](https://user-images.githubusercontent.com/32202397/129916651-ba32c4b8-de1d-47c7-8aa3-666ce67b8820.png)
[code]

[2021-08-20 06:24] shaktis110 opened #88 "compression is slow"
hello sir

device - realme xmax pro ram 6gb.

tested with demo application.

platform - android 8, android 9 , android 10, android 11

Thanks for this wonderful project. I am using this library in production chat application.
One thing I noticed is that the compression is slow in the actual device. It takes about 15-20 seconds for compression of 5-10 MB files. I have also downloaded the demo app a

[2021-08-22 04:48] dev-sareno opened #89 "InputStream as Output/Destination Path"
On modern Android OS (e.g. Android 11+), sometimes, you have to use [MediaStore](https://developer.android.com/reference/android/provider/MediaStore) for choosing the target file to write but, it gives you an [Uri](https://developer.android.com/reference/android/net/Uri) rather than a [File](https://developer.android.com/reference/java/io/File). We can write on that Uri through [Context#getContent

[2021-08-23 06:36] nishiloxit commented on #9
@AbedElazizShe Can you answer the 1st question here? Does this library use FFMPEG?

[2021-08-28 10:19] AbedElazizShe commented on #89
@dev-sareno Thank you for opening this issue and for the provided details. I haven't explored the Android 11+ changes yet regarding media handling. I will look into that and improve the library accordingly, i will make this suggestion as priority 1 and will inform you when it is done.

Thank you

[2021-08-28 10:28] AbedElazizShe commented on #87
@ShaQib07 thank you for opening this issue. I have remove JCenter() and i am using mavenCentral() instead. Would that solve your issue?

[2021-08-28 10:30] AbedElazizShe commented on #82
@Darshan10395 I will close this issue assuming that you found a way to run the library. Feel free to re-open if there is any issue. Thank you

[2021-08-28 10:30] #82 closed

[2021-08-28 14:45] AbedElazizShe commented on #22
I have tried multiple ways to do that, and it seems the results won't be satisfactory. I believe for having high quality streaming services, videos could be processed on server side to move the moov to top. The flexibility on the method i am using is not that helpful and the documentation for media codec is really bad.

I will not spend time anymore on this feature so I can focus on fixing major b

[2021-08-28 14:45] #22 closed

[2021-08-28 16:11] #83 closed

[2021-08-29 01:55] dev-sareno commented on #89
My bad, I was pertaining to OutputStream as the Write Path parameter and not InputStream.

[2021-08-30 21:27] shaktis110 commented on #88
sir i am not expert in java but i found some resources which can be useful for compression speed

https://stackoverflow.com/questions/35884600/android-mediacodec-encode-and-decode-in-asynchronous-mode/35885471#35885471
https://github.com/mstorsjo/android-decodeencodetest

[2021-08-31 14:13] Amir-ByteGrowth opened #90 "Audio Lost"
When we compress video it losses its audio

[2021-08-31 14:14] Amir-ByteGrowth commented on #90
will any one else help to solve this issue?

[2021-08-31 14:30] AbedElazizShe commented on #88
@shaktis110 thank you for opening this issue and sorry for the late reply. I have improved the speed and I will release a new verion most probably tomorrow.

![lc1](https://user-images.githubusercontent.com/20614470/131521322-01ed9130-ab1a-4060-bee5-544ebc2ffa78.PNG)
![lc2](https://user-images.githubusercontent.com/20614470/131521329-97841285-cdc3-442f-ae68-23bae3b4f513.PNG)
![lc3](https://user-im

[2021-08-31 14:32] AbedElazizShe commented on #90
@Amir-ByteGrowth thank you for opening this issue. Can you provide more details, phone brand, android version, library version, and perhaps a sample video so I can debug.

Thanky you

[2021-08-31 15:16] shaktis110 commented on #88
thank you so much sir

[2021-09-01 05:29] Amir-ByteGrowth commented on #90
i am using Huawei Honor 8x Model JSN-L22 Version 10.0, i am using library from github sample code. i dont know its version.

[2021-09-01 05:36] Amir-ByteGrowth commented on #90
i sent an email containing video  on mentioned email you can check it from there

[2021-09-01 06:44] Amir-ByteGrowth commented on #90
its fixed. it is due to mp4 parser . thank you for cooperation @AbedElazizShe

[2021-09-01 06:44] #90 closed

[2021-09-01 15:03] AbedElazizShe commented on #88
@shaktis110 please try version 0.9.7 and let me know if it's working as expected. Thank you.

[2021-09-01 15:03] AbedElazizShe commented on #87
@ShaQib07 please try version 0.9.7 and let me know if it's working as expected. Thank you.

[2021-09-01 15:07] AbedElazizShe commented on #80
I have been trying to fix this issue for weeks now. A few months ago, the library was working fine, i believe a new update by whatsapp caused this issue. Does anyone has details on what whatsapp accepts and what's not?

[2021-09-01 15:07] AbedElazizShe commented on #72
@arindamhit please try version 0.9.7 and let me know if it's working as expected. Thank you.

[2021-09-01 16:04] shaktis110 commented on #88
respected sir new release version is not working .
in log cat
android.media.MediaCodec$CodecException: Error 0xffffffc3

[2021-09-02 00:57] AbedElazizShe commented on #88
Can you please share the error log on the physical device? Emulators are expected not to work due to the lack of hardware encoders.

[2021-09-02 05:35] shaktis110 commented on #88
hello sir

here is the log from physical device - realme max pro

2021-09-02 11:04:27.915 10538-12191/com.abedelazizshe.lightcompressor D/ACodec: AllocateComponent OMX.MTK.VIDEO.ENCODER.AVC success
2021-09-02 11:04:27.915 10538-12191/com.abedelazizshe.lightcompressor D/ACodec: [OMX.MTK.VIDEO.ENCODER.AVC] Now Loaded
2021-09-02 11:04:27.918 10538-11172/com.abedelazizshe.lightcompressor E/Compressor:

[2021-09-02 05:50] AbedElazizShe commented on #88
Thank you for the details, you can keep using the old version of the library until I fix this later today.

[2021-09-02 05:51] shaktis110 commented on #88
Great, thanks sir !

On Thu, Sep 2, 2021, 11:20 AM Abed Elaziz Shehadeh ***@***.***>
wrote:

[2021-09-02 12:29] AbedElazizShe commented on #88
It was unsupported codec profile, fixed in 0.9.8. Thank you.

[2021-09-02 15:04] shaktis110 commented on #88
I have tested and it is working perfectly fine with better speed

Thank you very much sir you are a blessing.

[2021-09-02 15:04] #88 closed

[2021-09-03 11:47] #87 closed

[2021-09-03 11:47] #72 closed

[2021-09-10 06:34] ishaan1607 opened #92 "Throwing IO Exception when compressing multiple videos at once."
I am using a cases when there is a list of video uris and I trying to compress those by putting a loop and compressing each file. But VideoCompressor.start() throughs an IOException.

java.io.IOException: Failed to instantiate extractor.
        at android.media.MediaExtractor.nativeSetDataSource(Native Method)
        at android.media.MediaExtractor.setDataSource(MediaExtractor.java:203)

[2021-09-10 15:08] AbedElazizShe commented on #92
@ishaan1607 thank you for opening thid issue. The library does not support multiple compression at the moment, i may add the support in the near future.

Thank you.

[2021-09-10 15:18] AbedElazizShe commented on #9
@nishiloxit no it isn't.

[2021-09-15 14:45] vedraj360 opened #93 "Compression is Success but generated video is not working"
Compression is Success but generated video is not working

Getting null pointer exception, using android emulator.

Here is the error message

2021-09-15 20:10:28.411 18517-19821/in.app.dev E/Compressor: An error has occurred!
    java.lang.NullPointerException
        at com.abedelazizshe.lightcompressorlibrary.video.Track.<init>(Track.kt:248)
        at com.abedelazizshe.lightcompressorlibrary.v

[2021-09-17 09:04] emrisb opened #94 "Compression takes too much time"
Firstly, thanks for this great library.
I am trying compress a video, but it takes too much time. Generally i come across this issue in big sized videos.
example video spec:
size: 276mb
duration: 00:59 sec
After I tried sample app, compress time average was 70 sec and size 111 mb

[2021-09-17 13:55] UrbanFercec opened #95 "Size is the same for every quality"
First of all - thank you for this amazing library. I belive it's the best there is on video compression on Android!

However, I have found an very strange bug - whenever I compress video, no matter the quality, I always get back the same size of the video. I get this issue if I leave all the rest of the fields empty of I leave them as default.

Am I doing something wrong here or is this worth inve

[2021-09-28 21:15] emrisb commented on #80
same issue for me too

[2021-10-01 07:42] kalasaceo commented on #90
I too have this same problem and i have not used mp4 parser.The output video is compressed but no audio.

[2021-10-06 07:42] gangergarry opened #96 "Disable audio while compression"
Hi @AbedElazizShe, Thanks for making this fabulous library. could you please guide me on how can I disable the audio of the video with compression? and if this functionality is not available as of now, do you have any plans to do so?

[2021-10-08 10:49] mmmatjaz opened #97 "Compressor works only first time"
When I try to compress another video onFailure gets called with error message:
Failed to extract video meta-data, please try again

my usecase:
`
VideoCompressor.start(
                    null, // => This is required if srcUri is provided. If not, pass null.
                    null, // => Source can be provided as content uri, it requires context.
                    videoFile.getPath(), videoFi

[2021-10-08 13:20] mmmatjaz commented on #97
It seems I found the problem. I was trying to compress the file immediately after calling VideoCapture.stopRecording(), but the latter one is obviously non-blocking and needs some time to let go of the file. Therefore metadata reading failed. I'm now launching compression with a delay and it seems to work fine.

[2021-10-08 13:20] #97 closed

[2021-11-12 06:24] ashishHolofy commented on #80
It is not just upload on whatsapp but also any upload in general

[2021-11-12 13:48] AbedElazizShe commented on #95
@UrbanFercec thank you for the kind feedback and I aplogise for the late reply.

If you check the video details on, let's say, windows or mac, is it showing the same size? I noticed that Android sometimes show the old size and configuration, which in fact is not correct. It has to do with how the original video was written to the folder after compression.

Could you please check on that and confir

[2021-11-12 13:54] AbedElazizShe commented on #96
@gangergarry @parulgarg004 i apologise for the late reply. I have added the feature, you just need to pass the following in configuration.

disableAudio = true

I will release a new version soon.

Thank you.

[2021-11-14 04:09] AbedElazizShe commented on #93
@vedraj360 sorry for late reply. This bug is fixed, i will release a new version soon. Thank you.

[2021-11-14 04:14] AbedElazizShe commented on #80
@ashishHolofy i have this problem with whatsapp upload for me, i can upload it anywhere including but not limited to telegram, gmail, drive, etc. It took me a very long time to find out the cause as it affects whatsapp only. It is mainly related to Audio. I am trying to fix that.

[2021-11-14 12:04] AbedElazizShe commented on #80
@Kedar1515 @ashishHolofy @a-rizwan After a very long investigation, and since the feature was working and stopped suddenly, Whatsapp- as you know- compresses media, and at a specific version, thier compression is affecting this library's MP4A audio. If you send the video as `document`, you will notice it is working perfectly fine.

It is hard to tell what whatsapp is doing while compression. I wil

[2021-11-14 12:04] #80 closed

[2021-11-14 12:32] AbedElazizShe commented on #96
Version 1.0.0 has this feature. Thank you.

[2021-11-14 12:32] #96 closed

[2021-11-14 12:33] AbedElazizShe commented on #93
Please check version 1.0.0, let me know if you still face the same issue.

[2021-11-14 12:33] #93 closed

[2021-11-14 12:34] parulgarg004 commented on #96
@AbedElazizShe ThankYou so much

[2021-11-19 00:06] minshoki commented on #95
Call the function after conversion is complete.

`contentResolver.update()`

[2021-11-23 16:01] saggiyogesh commented on #27
Hi guys,
Published react-native package for LightCompressor

https://github.com/saggiyogesh/react-native-lightcompressor

[2021-11-29 12:10] Kabirov7 commented on #43
Hi! I try to play compressed video in VLC player. I can see the video, but there is no sound. I got Codec not supported VLC could not decode the format "mp4a" (MPEG AAC Audio).
When I am trying to convert file using ffmpeg on python or in the terminal to .mp4 I got this error:

`/Users/artur/Programming/WorkProjects/videoConverterPython/venv/bin/python /Users/artur/Programming/WorkProjects/videoCo

[2021-12-08 10:26] MohammedNadil opened #99 "Not Compressing by Configuration Android 12"
Hi,
I got an issue in Android 12
its working fine on other OS Versions

In Android 12   even I put any quality the size is fixed after compression
even I put a fixed bitrate after compression is same size.

I used latest version 1.0.0
also used 0.9.6 with fixed width height and all other choices but result is the same
this issue is only on android 12.

normally its 50mb to 15mb

in android 12 it g

[2021-12-10 13:11] ashotterekyanlmc commented on #64
Still didn't work on version 1.0.0. Replaced line

val encoder = if (hasQTI) {
            MediaCodec.createEncoderByType(MIME_TYPE)//MediaCodec.createByCodecName("c2.android.avc.encoder")
        } else {
            MediaCodec.createEncoderByType(MIME_TYPE)
        }

with
val encoder = MediaCodec.createEncoderByType(MIME_TYPE)

now all is good

[2021-12-11 16:01] AbedElazizShe commented on #99
@MohammedNadil Thank you for opening this issue. Have you tried o physical devices? Could you please share a sample video so I can try on my side and figure out the issue.

I am using android 12 and I don't face the issue for some reason.
![Screenshot_20211211-234105](https://user-images.githubusercontent.com/20614470/145683151-a5659b01-68f0-40ae-a6b4-f05467649c69.png)

![Screenshot_20211211-23405

[2021-12-11 16:16] AbedElazizShe commented on #94
@emrisb Thank you for opening this issue. I am working on improving the speed of compression. At the moment, the library could be a bit slow with big video sizes and hopefully this would be improved in the near future.

Thank you.

[2021-12-11 16:16] #94 closed

[2021-12-11 16:16] #95 closed

[2021-12-11 18:53] MohammedNadil commented on #99
The clip is created using HBRecorder with settings as below.

  Library =  https://github.com/HBiSoft/HBRecorder
  Settings =

            hbRecorder?.enableCustomSettings()
            hbRecorder?.setVideoEncoder("H264")
            hbRecorder?.recordHDVideo(true)
            hbRecorder?.setScreenDimensions(1280, 720)

recorded for about 4min video clip and
then its compressed to Low Quality  whi

[2021-12-13 05:27] vinay6 opened #100 "Not Compressing (After compress file is unable to open)"
Hi,

I have tried to compress recording video,  compress is successful but after compress video file is blank

Device  Moto Fusion Plus
OS = Android 10

Device  = One Plus
OS = Android 11

[2021-12-13 13:39] akbardzulfikar opened #101 "video is burst or laggy after compressed"
hello, i have a problem when compressing video with this configuration, the video looks like burst, some frame are lost, please help.

using camera2Api, with configuration:
video encoder: mpeg_4
audio encode : AAC

https://user-images.githubusercontent.com/20625376/145822363-f2974540-8961-4a8b-a9de-7d58660c114f.mp4

device : realme 3 pro
os: android 10

thank you

[2021-12-13 13:52] akbardzulfikar commented on #101
https://user-images.githubusercontent.com/20625376/145824660-9d973213-f7e3-46a6-b4bf-b3c5d9266419.mp4

another sample of video

[2021-12-13 13:55] akbardzulfikar commented on #101
https://user-images.githubusercontent.com/20625376/145825126-386e2de0-cdb8-48da-b817-912cb3942d95.mp4

g

[2021-12-14 03:03] songzhili opened #102 "Incompatibility between Android and IOS"
Hi,
There is an incompatibility between Android and IOS. Some mobile phones upload videos to the server after compressing them. The apple system will have a green screen or can't play them. Both mobile phones and Macs have this problem. There is no problem with Android and web pages

[2021-12-14 04:01] songzhili commented on #102
And after the video compression, the video will jump frames, and the 10 second video will be broadcast in about 4 seconds

[2022-01-05 13:05] AlirezaGhanbarinia opened #105 "cut video"
Thank you for useful library

I want to cut the video like Telegram, is it possible to add this as well?

[2022-01-05 13:13] AlirezaGhanbarinia opened #106 "sync Compressor"
I want to edit the video inside ViewPager like Telegram, so that several videos are compressed or cut at the same time

Is it possible to add capability compress at the sync Thread?

[2022-01-09 09:52] #105 closed

[2022-01-09 11:34] RishabJaiswal commented on #92
I am also facing the same issue.

[2022-01-09 11:52] RishabJaiswal commented on #92
I really need this parallel compression feature

[2022-01-13 10:50] liwuchen opened #107 "How to use it in a Android project based Jave?"
I have added this in build.gradle, but still can not use any method in my project. Does I need any other configrations?

` implementation 'com.github.AbedElazizShe:LightCompressor:1.0.1'`

[2022-01-20 09:27] urtheone opened #108 "If i want compress with the min bittate,how should i do?"

[2022-01-20 09:29] urtheone commented on #108
`new Configuration(
                        VideoQuality.VERY_LOW,
                        null, /*frameRate: int, or null*/
                        false,
                        2 * 1024 * 1024, /*videoBitrate: int, or null*/
                        false/*disableAudio: Boolean, or true or false*/
                )`  is that right?

[2022-01-21 06:26] gvravikumar commented on #92
for parallel compression you need to crate multiple instances of MediaExtractor.

[2022-01-21 12:24] AbedElazizShe commented on #108
Hi @urtheone, yes VideoQuality.VERY_LOW is the lowest bitrate which the library converts to original bitrate * 0.1. Does that suit your needs?

[2022-01-21 13:10] AbedElazizShe commented on #107
Hi @liwuchen and @gokhanaltun what is the problem you're facing?

`       VideoCompressor.start(
                            getApplicationContext(),
                            uri,
                            null // src path,
                            desFile.getPath(),
                            null // streamablefile,
                            new CompressionListener() {

[2022-01-21 13:19] AbedElazizShe commented on #102
Hi @songzhili could you please share a sample video (original and after compression) and let me know which phones you're using so I can investigate. Different phones could have different behaviours and issues. Thanks a lot.

[2022-01-21 13:23] AbedElazizShe commented on #99
Hi @MohammedNadil , please share a video with me to try.

Thank you.

[2022-01-21 13:42] gokhanaltun commented on #107
Hi, @AbedElazizShe

Even though I added the dependency, I couldn't access the VideoCompressor class and realized that the problem was with my gradle files.

There was no "allprojects" section in my project-level build.gradle file and I was getting an error when I added it.
To solve this problem I edited my "settings.gradle" file as below and now everything works. Thanks.

Before:
[code]

After:
[c

[2022-01-21 13:51] AbedElazizShe commented on #27
Hi @bipinvaylu could you please try the latest version?

[2022-01-21 13:54] AbedElazizShe commented on #75
Hi @axionnneeeel i added them back, will release soon.

[2022-01-21 18:09] AbedElazizShe commented on #107
Thank you @gokhanaltun I really forgot to add this part to README as i faced it myself after upgrading gradle. I added it now.

[2022-01-21 18:09] #107 closed

[2022-01-21 18:12] AbedElazizShe commented on #92
I added support for multiple video compression in v1.1.0. Please try it out and let me know if you face any issues.

There are lots of breaking changes in this version, please see what's new in v1.1.0 section in README before updating.

Thank you.

[2022-01-21 18:13] AbedElazizShe commented on #106
I added support for multiple video compression in v1.1.0. Please try it out and let me know if you face any issues.

There are lots of breaking changes in this version, please see what's new in v1.1.0 section in README before updating.

Thank you.

[2022-01-23 01:20] varun7952 opened #109 "Feature Request: Make Library Available Backward Support Like API 15"
Hi, We shifted our project from Sillicompressor to LightCompressor recently but our product is targeting API version 15 also and totally based on Java, If it's possible can you please make it backward compatible. So it can be available to majority of Java users with API 15+

Thanks

[2022-01-23 04:13] bipinvaylu commented on #27
Hi, Thanks for the update but now I am using the FFMPEG library for all kinds of video processing inside the app.

[2022-01-23 06:13] nikhilrfitplus opened #110 "Unable to Compress multiple videos parallely"
Thanks for yesterday's commit which is now allowing to pass list of file URIs. But, my core requirement is to get the files compressed in parallel. When i call VideoCompressor.start(.. for the 2nd time, the 1st compression task is getting terminated and calling the successCallBack method, and then the 2nd compression task is starting.
Please add a provision to compress the files parallely or allow

[2022-01-23 06:29] nikhilrfitplus commented on #106
U have added multiple video support, but it is again compressing the videos in sequential manner only, not parallel. Please provide a way so that videos will be compressed parallely.

[2022-01-23 10:42] AbedElazizShe commented on #109
@varun7952 Hi, Thank you for using LightCompressor library.

API version 15 is very old to be supported. I have stopped supporting anything below 21, 4 years ago. Maybe you should consider updating.

I am wondering if you have users at the moment using APIs 15 - 19? It would be interesting to know.

![versions](https://user-images.githubusercontent.com/20614470/150674792-ffa46902-0421-4ac5-80ec-94

[2022-01-23 10:52] AbedElazizShe commented on #110
Hi @nikhilrfitplus updated in 1.1.1. Please let me know if you have any issues as I only tested it in a small set of devices.

[2022-01-23 10:53] AbedElazizShe commented on #106
I added support for multiple video compression in v1.1.1. Please try it out and let me know if you face any issues.

There are lots of breaking changes in this version, please see what's new in v1.1.1 section in README before updating.

Thank you.

[2022-01-23 12:29] varun7952 commented on #109
@AbedElazizShe Thanks for the reply. To be true we see only few users on API 15-16 but from API 17 We still able to see good amount of users and if you notice Whatsapp,Telegram,Instagram and others they are still targeting lowest version of android, Nobody wants to leave their users behind if they have older android version. See if you can make it backward compatible for specially for the Java use

[2022-01-23 18:07] nikhilrfitplus commented on #110
Hi AbedElazizShe

Thanks for the prompt reply & instant fix.
It's working now as per my unit test. We have scheduled a QA test tomorrow.
Will let you know if we come across any issues.

Regards,
Nikhil

On Sun, 23 Jan 2022 at 16:22, Abed Elaziz Shehadeh ***@***.***>
wrote:

[2022-01-24 04:50] nikhilrfitplus commented on #106
It's working. Thank you.
Will get back if our QA finds any issues

[2022-01-24 12:28] AlirezaGhanbarinia opened #111 "unexpected CodecException when working on large files"
Hi
when I use this library in my project , I face an exception of type CodecException in the following place:

Compressor -> encoder.configure

and with following message :

mDiagnosticInfo : android.media.MediaCodec.error_neg_5001
detailMessage : Error 0xffffec77

When occurring the mentioned exception, onSuccess method of CompressionListener is called with the size 0!

Mentioned problem happens

[2022-01-25 10:45] Shruthi18041991 opened #112 "Primary directory download not allowed for content://media/external_primary/video/media; allowed directories are DCIM, Movies Pictures"
VideoCompressor.start(
        this, // => This is required
        uris, // => Source can be provided as content uris
        true, // => isStreamable
        Environment.DIRECTORY_DOWNLOADS, // => the directory to save the compressed video(s)
        new CompressionListener() {
            @Override
            public void onSuccess(int i, long l, @Nullable String s) {

                runOnUiTh

[2022-01-25 13:48] s4cha commented on #58
Hey @AbedElazizShe, first, thank you for taking the time to share such a great tool, this is very appreciated !
I wanted to add on to @mbpatel6245 issue, I just encountered the same.
Here is my
**initial uri**
/storage/emulated/0/DCIM/Camera/VID_20220125_141444.mp4 OK
**success uri**
/storage/emulated/0/Android/data/com.octopepper.yummypets/files/YummypetsVideoCompression/1643116799636_

As you ca

[2022-01-25 18:25] varun7952 commented on #109
Can you share code in java so i will try to fork this for backward compatibility?

[2022-01-26 10:55] urtheone commented on #108
Yes, the parameter I chose was it, but I found that the compression time is hardly shortened. So I set the third parameter myself: 2 * 1024 * 1024, but when I set this, my previous video began to report errors:
`onFailureThe provided bitrate is smaller than what is needed for compression try to set isMinBitRateEnabled to false.`
 I changed the parameter to null, and the error message did not disap

[2022-01-27 07:13] AlirezaGhanbarinia commented on #111
When occurring the mentioned exception, onSuccess method of CompressionListener is called with the size 0!

[2022-01-27 09:52] #92 closed

[2022-01-27 09:52] #106 closed

[2022-01-27 09:52] #110 closed

[2022-01-27 09:54] AbedElazizShe commented on #109
Hi @varun7952 , it's lots of work to enable support and test. Considering that api 21 covers 98% of devices, i will not spend time to add support for 2%.

Thank you

[2022-01-27 09:54] #109 closed

[2022-01-27 09:54] #99 closed

[2022-01-27 09:58] AbedElazizShe commented on #108
The compression time is not affected by the quality, it is usually goes side by side with the length of the video or when the bitrate is very low. That's why i have 2mb bitrate check.

 I will work on audio compression improvement in the near future is that's the issue you're facing.

Thank you.

[2022-01-27 09:58] #108 closed

[2022-01-28 13:10] #112 closed

[2022-01-28 15:17] resistance1404 opened #114 "Remove audio :("
Hi. i use your library in my project but when see the result of compressed file the file has not sound. why? my configuration is :
VideoQuality.MEDIUM,24,false,null,false,false,null,null

[2022-01-29 06:38] Andoctorey commented on #112
Have the same issue when try to save in ContextCompat.getExternalFilesDirs(context, null) without storage permission. Previous version 1.0.1 worked without problem.

[2022-01-31 05:57] AlirezaGhanbarinia commented on #114
"Configuration" class has many parameters , if you set true for "disable Audio" parameter ,you removed the video sound,please carefully set value for input parameters , and read below document

https://github.com/AbedElazizShe/LightCompressor#configuration-values

[2022-02-02 07:34] AbedElazizShe commented on #114
Thank you @AlirezaGhanbarinia.

@resistance1404 can you share the following in case the problem is something else:

- Sample video [upload to google drive for example and share it with me]
- The testing device(s), let me know how many devices you use and if the problem happens on all of them or just a few.
- Android version.

Thank you.

[2022-02-02 07:37] AbedElazizShe commented on #111
@AlirezaGhanbarinia thank you for opening the issue. I certainly haven't tried videos that big :). Can you confirm it is mp4? And does it happen on all testing devices you used?

Thank you

[2022-02-02 07:40] AbedElazizShe commented on #100
Hi @vinay6 , could you please share a sample video [upload to google drive for example and share it with me]? And please confirm that you're using the latest version.

Thank you

[2022-02-02 12:37] AlirezaGhanbarinia commented on #111
I'm really confused, why this happened
when use this library in demo all of process is done , but when I use this library in my project I face an exception

I am using a video taken from the camera of this phone and which has the mp4 extension , same library and same configuration on both project

[2022-02-04 06:28] monali0521 commented on #114
I got the same issues, audio is gone after compression in some videos though I set false to disable Audio parameter.

I have attached the video. and it is reproducing in different devices and android versions.

https://user-images.githubusercontent.com/87650116/152482582-7f5b9a6f-fe1c-40f6-a38e-847ec50b5ef0.mp4

[2022-02-07 07:48] androidcodehunter opened #115 "UI freezes when I run the compression"
`VideoCompressor -> start` method run on UI thread which causing freezing the UI.  UI should not freeze when you compress video.

[2022-02-14 19:43] Korbpw opened #116 "Video FPS minimum limit at 21 FPS"
[code]

Even do my framerate is at 12 on the config it always renders out at 21 FPS and no lower than that ( i counted it on After Effects too )

![image](https://user-images.githubusercontent.com/46784998/153935444-520f94b2-c47d-4662-9901-cbc3968c69dc.png)

[2022-02-15 06:46] songzhili commented on #102
https://user-images.githubusercontent.com/18653713/154007110-ced0945d-84df-4264-980e-690309cf2569.mp4

https://user-images.githubusercontent.com/18653713/154007138-cea1bf06-0052-4db1-997c-7d09fcfe0273.mp4

The above two videos are the problems after compression. There is no original video and the problems found online

[2022-02-20 09:12] ghasemdev opened #117 "SaveAt Internal Storage"
Hi, is there any way to save video in internal storage like `cacheDir` or `fileDir` ?

[2022-02-21 16:07] vedraj360 opened #118 "Crashing app on android 11"
java.lang.RuntimeException: setDataSource failed: status = 0xFFFFFFEA
        at android.media.MediaMetadataRetriever._setDataSource(Native Method)
        at android.media.MediaMetadataRetriever.setDataSource(MediaMetadataRetriever.java:290)
        at android.media.MediaMetadataRetriever.setDataSource(MediaMetadataRetriever.java:238)
        at android.media.MediaMetadataRetriever.setDataSource(

[2022-03-02 11:59] AlirezaGhanbarinia commented on #111
I realized that the problem is related to which part, I propose my solution, maybe it will be useful for one person

When using ExoPlayer next to Mediacodec in a fragment or activity, to use Mediacodec , the player release commands must be called

This problem is more common in Samsung mobile phones

[2022-03-02 12:47] kathisai opened #119 "Request for commercial usage or Apache-2.0 Licensing"
HI @AbedElazizShe

We would like to ship one of our commercial  product with this library, as this library comes under [GPL-3.0 License](https://github.com/AbedElazizShe/LightCompressor/blob/master/LICENSE) we can't proceed further to integrate this library in to our project as per our legal team.  is it possible to make this library to [Apache-2.0 License] ? can we talk about any other options ?

[2022-03-24 09:33] dwardy0101 opened #120 "Can't create or specify a filename"
request to have custom filename. I would really appreciate it.

[2022-04-06 06:37] AhsenSaeed commented on #117
Getting same issue?

[2022-04-06 10:25] fuzhengyin opened #121 "audio speed up"
https://github.com/AbedElazizShe/LightCompressor/blob/8d8a35d9733b78724cd4466608075ca01742a78e/lightcompressor/src/main/java/com/abedelazizshe/lightcompressorlibrary/video/Track.kt#L312

Why hard code this parameter? It cause "audio speed up"(I don't know how to describe it).

in 0.9.9

audioSampleEntry.sampleRate = format.getInteger(MediaFormat.KEY_SAMPLE_RATE).toLong()

[2022-04-12 14:56] vandat0599 commented on #114
Facing the same issue. May I know if this issue is already fixed or not?

[2022-04-20 11:19] nikbagde commented on #114
I'm also facing the same issue, after compression sound is gone. I guess it is causing only with java coding, with kotlin it is working fine.

[2022-04-20 14:06] Andoctorey opened #122 "Cannot compress to data directory"
Cannot compress to ContextCompat.getDataDir(context) to not ask storage permission. In version 1.0.1 it worked without problems. Now it crashes:

[code]

[2022-05-18 10:04] hientranea commented on #114
Getting the same issue here. I used the video @monali0521 provided and the compressed file has no sound
- Testing devices: both emulator and physical device, running Android 12
- Library version: `1.1.1`

Btw, we also got the warning from QuickTime Player when trying to play the output file: `This file contains some media which isn’t compatible with QuickTime Player.`

[2022-06-05 04:21] AbedElazizShe commented on #100
This issue is closed due to inactivity.

[2022-06-05 04:21] #100 closed

[2022-06-06 05:28] AbedElazizShe commented on #122
@Andoctorey Thank you for opening this issue.

I have added a fix to allow you to pass a isExternal (true/false) flag which will save to files dir if it is false.

I will release version 1.2.0 shortly.

Thank you.

[2022-06-06 05:29] AbedElazizShe commented on #120
@dwardy0101 thank you for opening this issue. The feature is added, i will release version 1.2.0 shortly. Please have a look at README to understand the changes.

[2022-06-06 05:30] AbedElazizShe commented on #119
Hi @kathisai I will change the licence to Apache-2.0 shortly. I can safely do that based on the modifications i've done in the library.

Thank you.

[2022-06-06 05:31] AbedElazizShe commented on #118
Hi @vedraj360 please try again in version 1.2.0 which will be released shortly.

[2022-06-06 05:31] AbedElazizShe commented on #117
Hi @ghasemdev and @AhsenSaeed Thank you for opening this issue.

I have added a fix to allow you to pass a isExternal (true/false) flag which will save to files dir if it is false.

I will release version 1.2.0 shortly.

Thank you.

[2022-06-06 05:33] #89 closed

[2022-06-06 05:35] AbedElazizShe commented on #111
Thank you @AlirezaGhanbarinia

[2022-06-06 05:35] #111 closed

[2022-06-06 08:25] AbedElazizShe commented on #116
Hi @Korbpw. If i am not mistaken, the value could be reset by the device itself for some cases. And modifying it could require lots of manual work to supply the frames.

I want to remove the support for this until I do some research to determine the best way to implement it. I hope it won't affect your work.

thank you.

[2022-06-06 08:25] #116 closed

[2022-06-06 08:27] #115 closed

[2022-06-06 08:36] AbedElazizShe commented on #121
Hi @fuzhengyin, thank you for pointing this out. I must have missed it while testing as I tried different values to understand effects. I changed it to the way you proposed.

Thank you.

[2022-06-06 08:36] #121 closed

[2022-06-06 08:39] AbedElazizShe commented on #101
Hi @akbardzulfikar, sorry for the late reply. Could you please share the original video and the device used for compression?
You can try version 1.2.0 as well, where I modified the I-frame rate, this could've fixed it.

thank you.

[2022-06-06 09:02] AbedElazizShe commented on #114
Hello @monali0521 @vandat0599 @nikbagde @hientranea, thank you for the details and I apologise for the late reply.

The problem is related to mono vs stereo types. I have fixed the issue and will release 1.2.0 shortly. Please let me know if it is fixed.

[2022-06-09 13:51] Afaquejaya commented on #122
It only compress 4-5 Sec video .
What is the max size of the video that can be compressed?
& for 1Gb Video how can we decrease the compression time?

[2022-06-10 00:06] #120 closed

[2022-06-10 00:06] #119 closed

[2022-06-10 00:06] #118 closed

[2022-06-10 00:06] #117 closed

[2022-06-10 00:07] #102 closed

[2022-06-10 00:08] #114 closed

[2022-06-10 00:08] #101 closed

[2022-06-20 09:43] Bob-liuboyu opened #123 "saveVideo too time consuming"
why saveVideo？function need 20s for 180M video，just return File(context.filesDir, videoFileName)，is not ok？

[2022-06-21 08:09] mobilewhj opened #124 "Some videos report errors ，some not"
java.lang.SecurityException: Permission Denial: reading com.miui.gallery.provider.GalleryOpenProvider uri content://com.miui.gallery.open/raw/%2Fstorage%2Femulated%2F0%2FDCIM%2FVideo%2F1637227610592.mp4 from pid=27557, uid=10580 requires the provider be exported, or grantUriPermission()

[2022-06-21 08:22] Indirajithcse opened #125 "When compressing AVI videos on Android 12 devices, the app crashes."
<img width="1126" alt="Screenshot 2022-06-21 at 1 50 46 PM" src="https://user-images.githubusercontent.com/35213915/174752493-9ab1cd76-9c75-412b-9759-97fd48b89ec7.png">

[2022-06-21 09:52] asd3590058 commented on #124
![image](https://user-images.githubusercontent.com/41050100/174771658-047fdbdb-c3ce-45f9-ab3e-e793cecff02c.png)

[2022-07-05 23:29] fenomeno opened #126 "NoClassDefFoundError- com/googlecode/mp4parser/util/Matrix"
java.lang.NoClassDefFoundError: Failed resolution of: Lcom/googlecode/mp4parser/util/Matrix;
        at com.abedelazizshe.lightcompressorlibrary.video.Mp4Movie.<init>(Mp4Movie.kt:11)
        at com.abedelazizshe.lightcompressorlibrary.utils.CompressorUtils.setUpMP4Movie(CompressorUtils.kt:54)
        at com.abedelazizshe.lightcompressorlibrary.compressor.Compressor.start(Compressor.kt:174)

[2022-07-11 12:26] rahul13agrawal opened #127 "Post compression, video not playable (Samsung recorded videos)"
I have a file which is captured from samsung phone. Post compression the video does not play. It just shows a black screen. Compression works perfectly if the video is taken in any other device. I am unable to find logs.
I am attaching the video file which is not able to be played post compression.

https://user-images.githubusercontent.com/39159794/178263737-4a41c6e5-b848-453e-8e88-880fd96bfa52.m

[2022-07-14 13:25] james04gr opened #128 "Can i use it to compress audio and create an MP3 clip"
I wonder if i can use your library to compress audio and create MP3 clips. Is that possible?

[2022-07-14 14:07] james04gr opened #129 "Turn the video to GrayScale"
I wonder if is there a way to change the video to GrayScale in order to reduce the video size even more

[2022-07-16 18:39] khawarraza opened #130 "Output video size prediction"
Is there any way we can predict the size of output video before actual conversion happens?

[2022-07-22 12:57] ahsan-malik opened #131 "Compressed file not saving"
I've tested this on two devices Samsung A5 (Android 8) and Vivo Y31 (Android 12).

On Samsung compression works but file not saved.
On Vivo compression works and file saved but with same size as input file. On the other hand VideoDetailsModel.newSize returns compressed file size which is less than input file size.

So main problem is how to save actual compressed file.

[2022-07-29 18:26] vivekpanchal commented on #43
I have used camera X API to record the video but after compressing the video I am not able to get any audio out of the file.
is there any solution for this issue ???

[2022-07-31 15:04] Andoctorey commented on #122
1. Update from 1.0.1 to 1.2.0.
2. Made following config:
[code]
3. Removed storage permission
4. Got following error:

[2022-08-04 04:13] k41ed commented on #114
not fixed

[2022-08-09 08:49] ppg408331701 opened #132 "Add parameter to file instead of URI,bacause the amount of data in the app increased dramatically"
VideoCompressor.start(),now only pass URIs,

I found that every time I compressed the video, the amount of data in the app increased dramatically,

I'm guessing it's because of the sandbox path required by Android Q, and LightCompressor copies the file once per compression

I hope to add a new method, and I will handle the sandbox path by myself

Or put the compressed cache file in the cache direc

[2022-08-09 11:59] ppg408331701 commented on #132
The size increased by each compression is equal to the original size + compress size

[2022-08-12 13:55] UmairYousafzai opened #133 "App Crashed On Selecting Video from whats app sent videos folder"
****Device : Redmi Note 10 Pro**
Android Version12**

2022-08-12 18:52:08.419 16691-16691/com.sleetworks.serenity.android E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.sleetworks.serenity.android, PID: 16691
    java.io.FileNotFoundException: /storage/emulated/0/Android/media/com.whatsapp/WhatsApp/Media/WhatsApp Video/Sent/VID-20220812-WA0009.mp4: open failed: EACCES (Permission denied)

[2022-08-16 05:59] desaikishan02 opened #134 "FileNotFoundException and ErrorNoException"
![Screenshot from 2022-08-16 11-22-49](https://user-images.githubusercontent.com/101733615/184808062-eb9a80fc-41ea-4255-b3dc-c5c0b1f702ae.png)
it gives an error like this in android 11 and android 12 so what i have to do

[2022-08-18 09:25] anggit97 commented on #122
anyone here have solution for this case? @Andoctorey @AbedElazizShe

[2022-08-22 11:28] james04gr opened #135 "VideoBitrate does not effect result"
I am recording a video with my camera (Samsung S22 with Android 12) and after the recording i use the configuration

[code]

However, the result video that is produced has a video bitrate ~= 4200kbps.
Why is this happening? Doesn' t the result video supposed to have a videoBitrate ~= 480kpbs?

[2022-08-25 09:17] AS7C2 commented on #134
I have this issue on Google Pixel 3 XL with Android 12.

[code]

[2022-08-30 15:58] EbelloImbox commented on #112
It was working in previous version for me too, but it is not working with the last version and it is not working in Android 13 neither.

[2022-08-31 08:04] AlejandroImbox commented on #134
Hello everyone , I also have a problem with Android 13.
Searching why it could fail, I have seen that the problem comes when it goes to save the file in the "saveVideoFile" method.
In case the storageConfiguration.isExternal parameter is true, it ends up throwing exception, just when it does  `val fileUri = context.contentResolver.insert(collection, values)` .

Attached the error that throws me, a

[2022-08-31 10:05] EbelloImbox opened #136 "Issue when I try to compress a video in Android API 33"
Hello, I am having an issue when I try to compress a video in Android API 33, this is the logcat:

[code]

I am using a video saved in standar video directory from Android Emulator, uri: /storage/emulated/0/Movies/VID_20220830_180410.mp4, and in this part of the library code:

[code]

When this part of the code is executing:

[code]

cursor is always null, so it will return always "" and for this

[2022-08-31 10:32] EbelloImbox commented on #136
I am watching that the problem is only happening in APi > 30 for this code:

[code]

videoFile is always empty because of the cursor in the code above is null.

[2022-08-31 14:21] james04gr commented on #136
I dealt with the same issue today! I guess there has to be some kind of change for API > 30

[2022-08-31 14:23] EbelloImbox commented on #136
the problem is that you are using an uri like mine and you have to use an uri like a fileprovider: content://com.google.android.apps.photos.contentprovider/-1/2/content%3A%2F%2Fmedia%2Fexternal%2Fvideo%2Fmedia%2F1000000095/ORIGINAL/NONE/video%2Fmp4/1108575362

I am trying to parse to this kind of uri, if you know how to do it tell me it please.

[2022-08-31 14:48] james04gr opened #137 "Compression quality does not change the final size"
I have a Samsung S22 with Android 12 device.
I use CameraX to record a video with my application. I set the VideoCapture like below

`
videoCapture = VideoCapture.Builder().apply {
            setAudioBitRate(44_000)
            setVideoFrameRate(30)
            setTargetResolution(Size(720, 1080))
            setBitRate(50_000)
            setAudioChannelCount(1)
        }.build()
`

The captured

[2022-08-31 15:19] james04gr commented on #136
You are right. Now that i save my video to Enviroment.DIRECTORY_MOVIES i get a content:// uri. Temporarilly i will use this. But as soon as i figure it out (because this is not where i want to save my videos before compress) i will inform you!

[2022-09-01 07:40] EbelloImbox commented on #136
The way to get this kind of URI is using this: FileProvider.getUriForFile(context, authority, file), but I am seeing to come back to version 1.0.1 because there are a lot of bugs in this new version in kotlin.

[2022-09-05 13:18] james04gr opened #138 "Compressed videos don't play on iOS devices"
Using the CameraX VideoCapture useCase, when i record a video with setTargetResolution(Size(480, 640)), (whatever quality level compression) the result does not play on iOS devices. It skips the first frames and then it plays (sometimes neither that)
 If i setTargetResolution(Size(720, 1080)) then it plays.

Why is this happening?

[2022-09-06 11:02] VasuMiss opened #139 "Compress video but no sound"
Hi Team,

I using this lib and implement but some issues like video compress but audio sound not working.

Device Name : Oneplus Nord
Android Version : Android11

Uploading CT-SOCIAL-16623551400321662355140032.mp4…

Can you please help me?

[2022-09-09 23:36] philblais commented on #136
I'm also getting the same issue in API 33

[2022-10-15 20:49] Amberon-voldi commented on #134
hello @desaikishan02
this is probably caused by the way android handle storage access of new version of android after API 29.
google released scoped storage to access files outside of the app's directory and i assume light compressor is not yet ready for it.
so the compression fails when pack tries to access path outside of it's dir

[2022-10-15 21:00] Amberon-voldi commented on #136
hey @EbelloImbox
i've faced the same issue with this package and found the cause, with newer version of android their is scoped storage to access file outside of it's own directory. before API 30 we needed to add `android:requestLegacyExternalStorage="true"`  flag to access file in external storage but After Android 11, Android just ignores `android:requestLegacyExternalStorage="true"` and `androi

[2022-10-15 21:26] Chizuon opened #141 "Compressor not working After API 29 and above"
hello, i am facing an issue file compressing on android API 31 and newer
the process fails with this error.

` java.io.FileNotFoundException: : open failed: ENOENT (No such file or directory)`

[2022-10-15 21:27] Amberon-voldi commented on #141
hello @Chizuon
i've faced the same issue with this package and found the cause, with newer version of android their is scoped storage to access file outside of it's own directory. before API 30 we needed to add `android:requestLegacyExternalStorage="true"` flag to access file in external storage but After Android 11, Android just ignores `android:requestLegacyExternalStorage="true"` and `android:r

[2022-10-15 21:29] Chizuon commented on #141
i see, so does the video compress package for flutter is compatible with scoped storage?

[2022-10-15 21:29] Amberon-voldi commented on #141
dunno

[2022-10-28 09:02] SaritaDevAndroid opened #142 "Android 12 with app crash"
Error :  java.io.FileNotFoundException: : open failed: ENOENT (No such file or directory)

Code :   VideoCompressor.start(
                    context = applicationContext, // => This is required
                    uris = toUri, // => Source can be provided as content uris
                    isStreamable = true,
                    storageConfiguration = StorageConfiguration(

[2022-11-14 08:11] ajitdubey-mob-ibtech commented on #134
I am getting the same error while compressing the video and trying to write it into another directory. Might be URI is wrong I don't know what is the exact issue.

**This is the URI I am trying to pass to the library:** file:///storage/emulated/0/Download/pexels-cup-of-couple-7303657.mp4

**LightCompressor** Version: 1.2.0
**Android SDK:** 11,12 and 13.

Kindly request to you please fix this issue

[2022-11-18 17:30] sbattaglino commented on #135
Similar results here.

Expected 500kbps, I got 900kbps

`videoResizedFile?.let { _ ->
    try {
        val contentUri = FileProvider.getUriForFile(
            this, "${BuildConfig.APPLICATION_ID}.fileprovider", File(videoPath)
        )
        VideoCompressor.start(context = applicationContext, // => This is required
            uris = listOf(contentUri), // => Source can be provided as content

[2022-11-23 20:03] escorcia21 commented on #136
Any solution?

[2022-11-23 20:11] Amberon-voldi commented on #136
a workaround can be compressing the file into the app's internal directory then use something like gallery_saver package to save the file in the external storage